@import "../fonts/fonts.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
body {
	line-height: 1;
	font-family: 'Visby Round CF Extra Light';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.navbar-expand-md {
	background: white;
}
.navbar-brand {
	color: white;
	font-weight: bold;
}
.nav-item a {
	color: #0a53a2;
	font-size: 18px;
	letter-spacing: 0.3px;
	font-family: 'Visby Round CF';
}
.nav-item.active {
	margin-bottom: -5px;
	border-bottom: 3px solid #0a53a2;
}
.nav-item.active a {
	font-weight: bold;
}
.scrolled {
    border-bottom: 1px solid #0a53a2;
}
.dropdown .btn span {
	font-size: 18px;
}
.books-slider {
	position: relative;
	top: 50px;
}
.carousel-caption h1 {
	font-size: 24px;
	font-weight: bold;
	font-family: 'Visby Round CF';
	letter-spacing: 0.6px;
}
.carousel-caption p {
	font-family: 'Visby Round CF';
	letter-spacing: 0.6px;
}
.filter-index {
	position: relative;
	top: 50px;
}
.filter-main {
	margin: 10px 0;
	padding: 10px;
	box-shadow: 0px 0px 15px 0px #b8daf0;
	border-radius: 5px;
}
.filter-header {
    position: relative;
    display: flex;
    width: 100%;
    text-align: center;
}
.filter-header li {
    padding: 35px 5px;
    margin: 0 15px;
    position: relative;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    box-sizing: border-box;
    font-weight: bold;
}
.filter ul li a {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #01307e;
    font-family: 'Visby Round CF';
    text-decoration: none;
    font-size: 18px;
    width: 100%;
}
.filter ul li:first-child a {
	left: 50%;
}
.filter-header>li:not(:first-child)>a:before {
	content: '';
	border: 2px solid #6caded;
    height: 24px;
    width: 24px;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 98%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.filter-header>li:not(:first-child).filter_active>a:after {
	content: '';
	height: 16px;
	width: 16px;
	border-radius: 8px;
	background: #6caded;
	position: absolute;
	top: 50%;
	left: 98%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.filter-header li.filter_active {
	box-shadow: 0px 0px 15px 0px #b8daf0;
	border-radius: 5px;
}
.filter-body .row {
	margin-left: 0;
	margin-right: 0;
}
.card-item {
	width: 19.1%;
	height: 411px;
	position: relative;
	float: left;
	text-align: center;
	margin: 10px 5px 0;
	padding: 10px 0;
	box-shadow: 0px 0px 15px 0px #b8daf0;
	border-radius: 5px;
}
.interior-card-item-1-name {
	position: absolute;
	width: 100%;
	height: 30px;
	/*border: 1px solid red;*/
}
.interior-card-item-2-book-cover {
	position: absolute;
	width: 100%;
	height: 200px;
	top: 40px;
	/*border: 1px solid yellow;*/
}
.interior-card-item-3-desc {
    position: absolute;
    width: 100%;
    top: 331px;
    height: 40px;
    /*border: 1px solid green;*/
}
.interior-card-item-4-rating {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 241px;
    left: 0;
    /*border: 1px solid blue;*/
}
.interior-card-item-5-score {
    position: absolute;
    width: 100%;
    height: 40px;
    right: 0;
    top: 291px;
    /*border: 1px solid purple;*/
}
.interior-card-item-6-buy {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 40px;
    /*border: 1px solid black;*/
}
.editors-choice {
	position: absolute;
	top: 0;
	left: 0;
	width: 55px;
}
.interior-card-item-1-name span {
	font-family: 'Visby Round CF';
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 95%;
    color: #01307e;
    font-weight: bold;
    font-size: 18px;
}
.interior-card-item-2-book-cover a {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 95%;
}
.interior-card-item-2-book-cover a img {
	width: 70%;
	margin: 0 auto;
}
.interior-card-item-3-desc span {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 95%;
}
.interior-card-item-3-desc span h1 {
	color: #5E5E5E;
	font-weight: bold;
	font-size: 14px;
}
.interior-card-item-4-rating .ratings {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}
.interior-card-item-5-score .our-score {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}
.interior-card-item-5-score .our-score span {
	font-family: 'Visby Round CF Bold';
	color: #01307e;
	font-weight: bold;
	font-size: 22px;
}
.interior-card-item-5-score .our-score p {
	color: #6caded;
	font-weight: normal;
	font-size: 14px;
}
.interior-card-item-6-buy span {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
}
.interior-card-item-6-buy span form button {
	border: none;
	height: 40px;
	width: 100%;
	border-radius: 0 0 10px 10px;
	background-image: linear-gradient(to right, #661aff , #8525ff);
}
.ratings a {
	color: #01307e;
	font-weight: bold;
	font-size: 14px;
}
.interior-card-item-6-buy span form button p {
	color: white;
	font-size: 18px;
	font-weight: bold;
}
.faq-and-terms {
	clear: both;
	display: -webkit-box;
	padding: 85px 0 20px;
}
.faq-inner {
	float: left;
	text-align: center;
}
.center-div img {
	width: 100px;
}
#myBtn-footer {
    border: none;
    background: transparent;
    text-align: center;
    margin: 10px auto 0;
    width: 100%;
    outline: none;
}
#more-footer {
	display: none;
	outline: none;
}
.bottom-text {
	padding: 20px 0 10px;
}
.footer-text p {
	color: white;
	font-weight: 500;
	text-align: justify;
}
.footer-bottom-nav {
    text-align: center;
    position: relative;
}
.footer-bottom-nav ul {
    margin: 20px auto;
    display: flex;
    text-align: center;
}
.footer-bottom-nav ul li {
    padding: 0 10px;
    font-weight: bold;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    box-sizing: border-box;
}
.footer-bottom-nav ul li a, .footer-logo {
	color: #00B68F;
}
.filter.tab {
	display: none;
}
#more {
	display: none;
	outline: none;
}
.card-review {
	width: 100%;
}
.card-review .book-cover {
	width: 175px;
}
.rating-list {
    margin: 5px 0 0;
}
.rating-list > i {
    font-size: 22px;
    color: #ffaf00;
}
/* Games Filter Start */
.tab-body .filter-body [tab] {
	display: none
}
.interior .filter-body [tab].active {
	display: flex;
}
.interior .game_info [tab].active {
	display: block
}
/* Games Filter End */
.single-review-inner {
	text-align: center;
}
.single-review-inner h1 {
	color: green;
	font-size: 32px;
	font-weight: bold;
	padding: 10px 0;
}
.single-review-book {
	width: 300px;
}
.our-score-sr span {
	font-size: 30px;
	font-weight: bold;
	color: purple;
}
.our-score-sr p {
	font-size: 14px;
	font-weight: normal:
	color: grey;
}
.single-review-text {
	padding: 30px 0 60px;
}
.text-info-inner h1 {
	margin: 20px 0;
	text-align: center;
	font-size: 32px;
	color: purple;
	font-weight: bold;
}
.text-info-inner p {
	padding: 10px 0;
	color: grey;
	text-align: justify;
}
.navbar-collapse.show, .navbar-collapse.collapsing {
	background: rgba(0, 0, 0, 0.6);
}
.faq-text p {
	text-align: justify;
}
.faq-text h1 {
	font-family: 'Visby Round CF';
	font-weight: bold;
	color: #0a53a2;
	padding: 10px 0;
}
.footer-text {
	
}
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ---------------------- Media ---------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

@media (min-width: 768px) {

}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 1200 - 992 --------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 1200px) {
	.card-item {
	    width: 48%;
	}
}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 991 - 769 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 991px) {
	.navbar-expand-md .navbar-nav .nav-link {
	    padding-right: 5.5px;
	    padding-left: 2.5px;
	}
	.navbar-brand {
	    padding: 10px;
	    margin-right: 5px;
	    font-size: 16px;
	}
	.navbar .container {
		max-width: 850px;
	}
}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 768 - 651 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 768px) {
	.filter .container {
		max-width: 850px;
	}
	.card-item {
	    width: 100%;
	}
	.footer-bottom-nav ul {
	    margin: 45px auto 20px;
	}
	.footer-bottom-nav .container ul li:first-child {
	    width: 40%;
	    position: absolute;
	    top: -30px;
	    left: 50%;
	    -ms-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	}
}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 650 - 551 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 650px) {

}

/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 550 - 414 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 550px) {
	.footer-bottom-nav .container ul li:first-child {
	    top: -25px;
	}

}

/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 413 - 321 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 413px) {
	.footer-bottom-nav ul li {
	    padding: 0 8px;
	}
	.footer-bottom-nav ul li a, .footer-logo {
	    font-size: 12px;
	}
}

/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------ 320 ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 320px) {

}