<footer>
	<div class="footer-img">
		<img src="img/footer.png" alt="Footer image" width="100%">
	</div>
		<div class="container">
			<div class="footer-inner">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="cookie.html">Cookie Policy</a></li>
					<li><a href="terms.html">Terms & Conditions</a></li>
					<li><a href="privacy.html">Privacy Policy</a></li>
					<li><a href="download.html">Download Application</a></li>
				</ul>
			</div>

			<div class="col-12 text-center footer-bottom align-self-center">
				<div class="logos">
					<button type="button" class="btn plus18" data-toggle="tooltip" data-placement="top"
						title="Relax Slots ist ausschließlich nur für Erwachsene vorgesehen (18+). Die in Social Gambling
			                            gesammelten Erfahrungen versprechen auf gar keinen Fall irgendeinen Erfolg in realen Casinospielen.">
						<img height="100%" width="100%" src="img/18_plus.png">
					</button>
					<a href="javascript:void(0);" target="_blank"><img src="img/footer_img1.png"></a>
					<a href="javascript:void(0);" target="_blank"><img src="img/footer_img2.png"></a>
					<a href="javascript:void(0);" target="_blank"><img src="img/rapidSSL.gif"></a>
				</div>
			</div>


			<div class="footer-text">
				<span>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis animi deleniti debitis commodi aperiam sapiente voluptas maiores explicabo, veritatis iste id consequatur distinctio error maxime eos tempora facilis et vitae, cum illo veniam doloremque totam quam? Illo eum veritatis, soluta sequi sed voluptate et magnam, eius, fuga maxime dolorum earum! Voluptate incidunt mollitia sit ratione quibusdam corporis, obcaecati placeat dolorum deleniti magni nulla aliquid cumque ipsam, dolore sapiente fugit, quasi vel expedita officiis illo sequi excepturi, unde explicabo accusamus eaque.
				</span>
			</div>
		</div>
	</footer>