<footer>
		<div class="container">
			<div class="footer-inner">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="cookie.html">Cookie Policy</a></li>
					<li><a href="terms.html">Terms & Conditions</a></li>
					<li><a href="privacy.html">Privacy Policy</a></li>
					<li><a href="download.html">Download Application</a></li>
				</ul>
			</div>
			<div class="footer-text">
				<span>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis animi deleniti debitis commodi aperiam sapiente voluptas maiores explicabo, veritatis iste id consequatur distinctio error maxime eos tempora facilis et vitae, cum illo veniam doloremque totam quam? Illo eum veritatis, soluta sequi sed voluptate et magnam, eius, fuga maxime dolorum earum! Voluptate incidunt mollitia sit ratione quibusdam corporis, obcaecati placeat dolorum deleniti magni nulla aliquid cumque ipsam, dolore sapiente fugit, quasi vel expedita officiis illo sequi excepturi, unde explicabo accusamus eaque.
				</span>
			</div>
		</div>
	</footer>