<section class="info-4">
	<div class="container">
		<div class="info-4-inner">
			<div class="row">
				<div class="info-block ib-1 col-lg-6 col-md-6">
					<h1>Header 1</h1>
					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, numquam, reiciendis. Voluptatum molestias sequi iste itaque corporis ducimus vero commodi.</h2>
				</div>
				<div class="info-block ib-2 col-lg-6 col-md-6">
					<h1>Header 2</h1>
					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A perferendis sint magnam doloribus, quidem totam odio, aperiam, aspernatur facilis cumque vero. Nemo quam non voluptas voluptatum porro accusantium fugit velit.</h2>
				</div>
				<div class="info-block ib-3 col-lg-6 col-md-6">
					<h1>Header 3</h1>
					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, facilis, maiores. Consequatur tenetur perspiciatis placeat quasi dolorem, veritatis reprehenderit laborum pariatur at rem eos soluta eveniet laudantium. Quae tempora veritatis sit ipsam nostrum cupiditate, rem consequatur excepturi molestias error! Reiciendis.</h2>
				</div>
				<div class="info-block ib-4 col-lg-6 col-md-6">
					<h1>Header 4</h1>
					<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus exercitationem alias labore placeat fugiat beatae in provident culpa recusandae ratione.</h2>
				</div>				
			</div>
		</div>
	</div>
</section>