body {
    height: 100vh;
}

.top-side {
    background: rgba(240, 30, 40, 1) url("../img/roulette.webp") no-repeat center right 10%;
    background-size: 40%;
    min-height: calc(100vh - 300px);
}

.top-side-main {
    background: blue url("../img/pattern.png");
}

.ft {
    margin-top: 50px;
    line-height: 40px;
    padding: 5px 15px;
    font-weight: bold;
    float: left;
    display: inline-block;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
}

.ft.f1 {
    background: #333;
    color: #fff;
}

.ft.f2 {
    background: #fff;
    color: #333;
}

.big-text {
    font-size: 200px;
    font-weight: 900;
    color: #fff;
    line-height: 200px;
}

.title-text {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

.subtitle-text {
    font-size: 26px;
    color: #fff;
    font-weight: 400;
}

.right-text {
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
}

.t-button {
    transition: transform .3s;
    background-color: rgba(62, 142, 26, 1);
    color: #fff !important;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 6px;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none !important;
    letter-spacing: 2px;
    border: 0;
    display: inline-block;
}

.t-button:hover {
    transform: scale(1.08);
}

.footer-back {
    background: #333;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 2px dashed #fff;
}

.footer-back .row {
    min-height: calc(300px - 52px);
}

.footer-text {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

.footer-link {
    background: rgba(240, 30, 40, 1);
    padding: 8px 16px;
    text-decoration: none !important;
    color: #fff !important;
    transition: border .3s;
    border-radius: 4px;
    display: inline-block;
    margin: 0 10px;
    border: 1px solid transparent;
}

.footer-link:hover {
    border: 1px solid #fff;
}

.main-head h1, .main-head h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bold;
}

.play-google {
    max-width: 300px;
}

.text-box {
    background: #fff;
    padding: 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.text-box p {
    color: #333;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.text-box ul {
    -webkit-padding-start: 30px;
}

.text-box ul li {
    color: #333;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.footer_logos {
    display: flex;
    position: relative;
}

.header18 {
    background-color: transparent;
    width: 85px;
}

.footer_logos button, .footer_logos a {
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    align-self: center !important;
}

@media (max-width:1200px) {
    .footer_logos img {
        width: 100px;
    }

}

@media (max-width:768px) {
    .footer_logos img, .footer_logos button {
        width: 150px;
    }

    .footer_logos button, .footer_logos a {
        margin: 5px auto;
    }

    .footer_logos {
        flex-direction: column;
        text-align: center;
    }

    .ft {
        padding: 5px 10px;
        line-height: 25px;
        width: 50%;
        font-size: 12px;
        margin-top: 20px;
    }

    .top-side {
        background: red url("../img/pattern.png") repeat;
    }

    .right-text {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .big-text {
        font-size: 100px;
        line-height: 100px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .title-text {
        font-size: 20px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .subtitle-text {
        font-size: 18px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .t-button {
        padding: 20px;
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .footer-text {
        font-size: 12px;
        line-height: 16px;
    }

    .footer-link {
        margin-top: 10px;
        display: block;
    }

    .main-head h1, .main-head h2 {
        font-size: 20px;
    }

    .play-google {
        max-width: 100%;
    }

    .text-box {
        padding: 15px 10px;
    }

    .text-box p, .text-box ul li {
        font-size: 12px;
    }

}
