@media (max-width: 768px) {
 
    .bg1-logo{
    width: 100%;
    margin-left: unset;
    }
    .header18{
        width: 70px;
        height: 55px;
    }
    .ft {
        padding: 5px 10px;
        line-height: 25px;
        width: 50%;
        font-size: 12px;
        margin-top: 20px;
    }

    .top-side {
        padding-bottom: 0;
    }

    .right-text {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .big-text {
        font-size: 100px;
        line-height: 100px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .title-text {
        font-size: 20px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .subtitle-text {
        font-size: 18px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }

    .t-button {
        padding: 20px;
        width: 100%;
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    }
    .footer_logos a img{
        margin-bottom: 10px;
    }
    .footer-text {
        font-size: 12px;
        line-height: 16px;
        margin-top: 10px;
    }

    .footer-link {
        margin-top: 10px;
        display: block;
    }

    .main-head h1, .main-head h2 {
        font-size: 20px;
    }

    .play-google {
        max-width: 100%;
    }

    .text-box {
        padding: 15px 10px;
    }

    .text-box p, .text-box ul li {
        font-size: 12px;
    }

    .big-text {
        font-size: 24px;
        line-height: 30px;
    }
    .footer-logo{
    float: left;
    width: 50px;
    margin-right: 5px; 
}
}