@import "font-awesome.css";
@import "../fonts/fonts.css";

*:not(.fa):not(.lg):not(.lg-icon):not(.jis) {
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1000;
    text-align: center;
}
.loader img {
    position: absolute;
    top: calc(50% - 23px);
    left: calc(50% - 23px);
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1s;
    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotateY(0deg);
    }

    to {
        -webkit-transform: rotateY(-360deg);
    }

}
@keyframes spinner {
    from {
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }

    to {
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }

}
.site {
    padding-top: 0px;
    padding-bottom: 40px;
    position: relative;
    top: -5px;
}
.main-header {
    width: 100%;
    height: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.14);
    background-color: #143559;
}
.main-menu {
    list-style: none;
    -webkit-padding-start: 0;
}
.main-menu > li {
    display: inline-block;
    margin: 0 5px;
}
.main-menu > li > a {
    position: relative;
    color: white;
    font-family: "Visby Round CF";
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    text-decoration: none !important;
    display: inline-block;
    padding: 0 5px;
}
.main-menu > li.active > a {
    color: #143559;
    background-color: #E24349;
    font-weight: 600;
}
.main-menu-footer {
    list-style: none;
    -webkit-padding-start: 0;
    display: flex;
}
.main-menu-footer > li {
    flex-basis: 20%;
    text-align: center;
}

.main-menu-footer > li > a {
    text-transform: uppercase;
    text-decoration: none !important;
    display: inline-block;
    color: white;
    font-family: "Visby Round CF";
    font-size: 18px;
    font-weight: 600;
}

.main-menu-footer > li.active > a {
    color: #E24349;
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.d0 {
    animation-delay: 0.1s;
}

.d1 {
    animation-delay: 0.3s;
}

.d2 {
    animation-delay: 0.5s;
}

.d3 {
    animation-delay: 0.7s;
}

.d4 {
    animation-delay: 0.9s;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }

}

.main-logo {
    max-width: 204px;
}

.footer-logo {
    position: relative;
}

.footer-logo > a {
    text-decoration: none !important;
}

.footer-logo img {
    display: inline-block;
}

.footer-logo img.r {
    margin-right: 10px;
    transition: all 10s;
}

.footer-logo:hover > a > .r {
    transform: rotate(1800deg);
}

.footer-logo:hover {

    /*transform: rotate(540deg);*/
}

.slide-back {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    top: -5px;
}

.slide-back .row {
    height: 240px;
}

.slider-since {
    position: absolute;
    right: 0;
    top: 35px;
}

.slide-back h1 {
    color: #ffffff;
    font-family: "Visby Round CF";
    font-size: 36px;
    font-weight: 700;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}

.date-viewer {
    position: absolute;
    top: 30px;
    display: inline-block;
    width: fit-content;
    height: 50px;
    color: #fefefe;
    font-family: "Visby Round CF";
    font-size: 25px;
    font-weight: 700;
}
.filter-list {
    list-style: none;
    display: flex;
    border-radius: 5px;
}
.filter-list > li {
    flex-basis: 20%;
    align-self: center !important;
    background: white;
    padding: 10px 0;
    text-align: center;
    border: 2px solid #143559;
    border-right: 1px;
}
.filter-list li:first-child {
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px 0;
    flex-basis: 10%;
    background: white;
    border: none;
    box-shadow: 0 0 5px #BABABA;
}
.filter-list li:first-child a {
    font-size: 16px;
    width: 50px;
    text-align: center;
    padding: 0;
    color: #143559;
}
.filter-list li:first-child.active a {
    color: white;
}
.filter-list li:first-child.active {
    background: #143559;
}
.filter-list li:nth-child(2) {
    border-radius: 5px 0 0 5px;
}
.filter-list li:last-child {
    border-radius: 0 5px 5px 0;
    border-right: 2px solid #143559;
}   
.filter-list li:not(:first-child).active {
    background: #143559;
    position: sticky;
}
.filter-list li.active a {
    color: white;
    font-weight: bold;
}
.filter-list li:not(:first-child).active a{
    font-size: 20px;
}
.filter-list > li > a {
    position: relative;
    border-radius: 10px;
    color: #143559;
    font-family: "Visby Round CF";
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

.divTable {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;
}

.divTableRow {
    display: table-row;
}

.divTableCell, .divTableHead {
    display: table-cell;
}

.divTableHeading {
    background-color: #fff;
    display: table-header-group;
    border-radius: 50px;
    border: 1px solid rgba(165, 175, 235, 0.2);
    color: #676767;
    font-family: "Visby Round CF";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.divTableHeading .divTableCell {
    padding: 24px 10px;
    border: 1px solid rgba(165, 175, 235, 0.2);
}

.divTableHeading .divTableCell:nth-child(1) {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    padding-left: 25px;
}

.divTableHeading .divTableCell:nth-last-child(1) {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-right: 25px;
}

.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}

.divTableBody {
    display: table-row-group;
}

.divTableBody .divTableRow {
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 76, 0.3);
    background-color: #ffffff;
    margin-top: 25px;
}

.divTableBody .divTableRow .divTableCell {
    padding: 40px 10px;
    border: 1px solid rgba(0, 0, 76, 0.3);
    border-left: 0;
    border-right: 0;
    vertical-align: middle;
}

.divTableBody .divTableRow .divTableCell:nth-child(1) {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 25px;
    border-left: 1px solid rgba(0, 0, 76, 0.3);
}

.divTableBody .divTableRow .divTableCell:nth-last-child(1) {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-right: 25px;
    border-right: 1px solid rgba(0, 0, 76, 0.3);
}

.c-table {
    border-spacing: 0 120px;
}

.c-divTableRow {
    display: block;
    position: absolute;
    left: 0;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding: 20px;
    color: #6b6b6b;
    font-family: "Visby Round CF";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.c-info {
    margin: 0 auto;
    color: #143559;
    font-family: "Visby Round CF";
    font-size: 15px;
    font-weight: 700;
}
.c-info-2 {
    margin: 0 auto;
    color: #E24349;
    font-family: "Visby Round CF";
    font-size: 15px;
    font-weight: 700;
}
.play-now {
    border-radius: 60px;
    padding: 15px 35px;
    font-family: "Visby Round CF";
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: block;
    white-space: nowrap;
    transition: all .3s;
    background: #E24349;
    color: white;
    position: relative;
}
.play-now:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.05);
}

.c-score {
    text-align: center;
    margin: 0 auto;
    color: #E24349;
    font-family: "Visby Round CF";
    font-size: 35px;
    font-weight: 600;
}
.score-inner {
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border: 2px solid #E24349;
    padding: 15px 0px;
    border-radius: 45px;
}
.our-score-5 {
    padding: 0 !important;
}
.rating {
}

.rating > div {
    margin: 5px 0;
}
.rating .rating-list > i {
    font-size: 22px;
    color: #E24349;
}
.rating-footer span {
    display: inline-block;
}

.rating-footer span:nth-child(1) {
    color: #00004c;
    font-family: "Visby Round CF";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px
}

.rating-footer span:nth-child(1) > span {
    color: #1d164f;
    font-weight: 700;
}

.rating-footer span:nth-last-child(1) a {
    color: #E24349;
    font-family: "Visby Round CF";
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
}

.n-box {
    font-family: "Visby Round CF";
    font-size: 25px;
    font-weight: 600;
    width: 54px;
    height: 54px;
    line-height: 54px;
    display: inline-block;
    color: #1d164f;
    margin-left: -26px;
}

.n-box.editor-choice {
    background-repeat: no-repeat;
    color: #656565;
    background-image: url(./assets/img/editors.png);
}

.info-box {
    box-shadow: 0 0 5px #dedede;
    border-radius: 4px;
    padding: 30px;
}

.info-box p {
    color: #143559;
    font-family: "Visby Round CF";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 25px;
    text-align: justify;
}

.read-more {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: url("../img/arrow-down.png") no-repeat center;
    margin: 0 auto;
    cursor: pointer;
    transition: all .4s;
    border: 2px solid white;
}

.read-more.active {
    transform: rotate(180deg);
}

.more-text {
    display: none;
}

.footer-back {
    background: url("../img/footer-back.png") no-repeat center;
    background-size: cover;
}

.footer-title {
    color: #ffffff;
    font-family: "Visby Round CF";
    font-size: 26px;
    font-weight: 700;
}

.footer-subtitle {
    color: rgba(255, 255, 255, .8);
    font-family: "Visby Round CF";
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    margin-top: 15px;
}

.custom-group input {
    height: 48px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000037;
    font-family: "Visby Round CF";
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.custom-group button {
    height: 48px;
    border-radius: 0 40px 40px 0;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    padding-left: 25px;
    padding-right: 50px;
    background: #143559 url("../img/a-r.png") no-repeat center right 25px;
    transition: all .3s;
}

.custom-group button:hover {
    background-position: center right 20px;
}

.divider {
    background-color: rgba(255, 255, 255, .2);
    height: 1px;
    margin: 15px -15px;
}

.footer-middle {
    padding: 30px 0;
}

.footer-back-color {
    background-color: rgba(0, 0, 55, 0.6);
    line-height: 44px;
    height: 44px;
}

.copyright {
    color: white;
    font-family: "Visby Round CF";
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}

.game-inner-desc {
    color: #1d164f;
    font-family: "Visby Round CF";
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.more-game-inner-desc {
    display: none;
}

.v-center {
    vertical-align: middle;
}

.game-list-head {
    padding: 5px 10px;
    box-shadow: 0 0 5px #dedede;
    border-radius: 5px;
    background: #143559;
}

.game-list-head > div {
    color: white;
    font-family: "Visby Round CF";
    font-size: 20px;
    font-weight: 700;
}

.game-single {
    margin-top: 25px;
    padding: 35px 10px;
    position: relative;
    box-shadow: 0 0 5px #dedede;
    border-radius: 100px;
    background-color: #ffffff;
    transition: all .5s;
}

.game-review {
    position: relative;
    padding: 25px 40px;
    z-index: 1;
    background: #fff;
    width: calc(100% - 60px);
    margin-left: 30px;
    border: 1px solid rgba(0, 0, 76, 0.3);
    border-top: 0;
    left: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.game-review p {
    color: #6b6b6b;
    font-family: "Visby Round CF";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    height: 84px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.game-list {
    margin-left: 15px;
    margin-right: 15px;
}

.mini-padding {
    padding-left: 7px;
    padding-right: 7px;
}

.read-more-link {
    color: #2a2a2a;
    font-family: "Visby Round CF";
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    position: absolute;
    right: 15px;
    bottom: 5px;
}

.h2-title {
    color: #143559;
    font-family: "Visby Round CF";
    font-size: 36px;
    font-weight: 700;
}

.info-text {
    margin-top: 15px;
}

.info-text span {
    color: #151515;
    font-family: "Visby Round CF";
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    display: block;
    margin-bottom: 5px;
}

.rate-box {
    margin: 50px 0;
    text-align: center;
    box-shadow: 0 0 5px #dedede;
    background-color: #fefefe;
    padding: 20px;
    transition: all .3s;
    border-radius: 5px;
}

.rate-box:hover {
    transform: scale(1.05);
}

.rate-box img {
    height: 76px;
    margin-bottom: 25px;
}

.rate-box .p-title {
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 10px;
    color: #151515;
    font-family: "Visby Round CF";
    font-size: 18px;
    font-weight: 700;
}

.rate-box .p-text {
    color: #7a7a7a;
    font-family: "Visby Round CF";
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
}

.c-card {
    border-color: transparent;
    border-radius: 0;
    border-bottom: 0;
    display: flex;
    flex-basis: 50%;
    margin-bottom: 25px;
}

.c-card .card-header {
    background: #fefefe url("../img/plus.png") no-repeat center right 15px;
    border: 0;
    padding: 0;
    transition: all .1s;
}

.c-card .card-header.active {
    transform: scale(1.05);
    background: #fefefe url("../img/minus.png") no-repeat center right 15px;
}

.c-card .card-body {
    color: #6b6b6b;
    font-family: "Visby Round CF";
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 20px;
    box-shadow: 0 0 15px rgba(231, 237, 255, 0.4);
    border: 1px solid rgba(233, 96, 29, 0.14);
    background-color: #fefefe;
}

.c-card .btn-link {
    line-height: 28px;
    color: #143559;
    font-family: "Visby Round CF";
    font-size: 22px;
    font-weight: 600;
    text-decoration: none;
    width: 100%;
    text-align: left;
    padding: 15px;
    box-shadow: 0 0 15px rgba(231, 237, 255, 0.4);
    border-radius: 5px;
    border: 1px solid rgba(233, 96, 29, 0.14);
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #143559 !important;
}

.dropdown-menu {
    min-width: auto !important;
}

.flag {
    width: 24px;
    height: 16px;
    object-fit: cover;
}

@media (min-width:992px) and (max-width:1200px) {
    .container {
        max-width: 100%;
    }

}

.blanked {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1005;
    background: rgba(0, 0, 0, .5) url("../img/close.png") no-repeat top 13px right 15px;
    background-size: 17px;
    display: none;
}

.read-more-text {
    color: #E24349 !important;
    font-family: "Visby Round CF";
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    text-decoration: none;
}

.footer-m {
    border-radius: 4px;
    margin-bottom: 25px;
    padding: 30px;
}

.h2-title-box {
    border-radius: 3px;
    color: #143559;
    font-family: "Visby Round CF";
    font-size: 35px;
    font-weight: 600;
    padding: 20px 50px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}

.extra-information {
    margin-top: 25px;
    box-shadow: 0 0 5px #dedede;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.56);
    padding: 40px;
    text-align: center;
}

footer {
    background: #143559;
    padding: 20px 0 0;
}

.review-site {
    padding: 20px 0 0;
}

.score-site {
    padding-top: 10px;
}

.score-site .h2-title-box {
    margin: 10px auto 0;
}

.games-inner-site {
    padding-top: 20px !important;
}

.review-inner-site {
    padding-top: 25px;
}

.privacy-site, .cookie-site, .terms-site {
    margin-top: -50px;
    padding-top: 25px;
}
.index-page {
    padding-top: 25px;
    padding-bottom: 10px;
}
.cm-1 img {
    position: absolute;
    top: -20px;
    left: 1px;
    width: 30px;
}
.info-box-outer .mt-5, .my-5 {
    padding-top: 0rem !important;
}
.about-site h1, .contact-site h1, .cookie-site h1, .privacy-site h1, .terms-site h1 {
    border-radius: 3px;
    color: #143559;
    font-family: "Visby Round CF";
    font-size: 35px;
    font-weight: 600;
    padding: 20px 50px;
    width: fit-content;
    text-align: center;
    margin: 0 auto;
}
.about-site h2, .contact-site h2, .cookie-site h2, .privacy-site h2, .terms-site h2 {
    border-radius: 3px;
    color: #143559;
    font-family: "Visby Round CF";
    font-size: 28px;
    font-weight: bold;
    width: fit-content;
    text-align: left;
    padding: 10px;
    margin-bottom: -15px;
}
.about-site p, .contact-site p, .cookie-site p, .privacy-site p, .terms-site p {
    font-family: "Visby Round CF";
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 25px;
    text-align: justify;
    padding: 10px;
}
.about-site ul, .contact-site ul, .cookie-site ul, .privacy-site ul, .terms-site ul {
    font-family: "Visby Round CF";
    list-style-type: disc;
    margin-left: 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: black;
}
.about-site ul li ul, .contact-site ul li ul, .cookie-site ul li ul, .privacy-site ul li ul, .terms-site ul li ul {
    font-family: "Visby Round CF";
    margin-left: 30px;
    list-style-type: circle;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    color: black;
}
.about-site ul, .about-site ul li ul, .contact-site ul, .contact-site ul li ul, .cookie-site ul, .cookie-site ul li ul, .privacy-site ul, .privacy-site ul li ul, .terms-site ul, .terms-site ul li ul {
    margin-bottom: 30px;
}
.games-hidden {
    display: none !important;
}
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ---------------------- Media ---------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* till 993 */
@media (max-width:1200px) {
    .main-menu > li {
        margin: 0 3px;
    }
    .main-menu > li > a {
        font-size: 14px;
    }
    .rating .rating-list > i {
        font-size: 20px;
    }
}

/* till 576 */
@media (max-width:992px) {
    .c-info-2 {
        width: 50px;
        top: -16px;
        position: relative;
        font-size: 13px;
    }
    .score-inner {
        width: 80px;
        height: 80px;
        border: 2px solid #E24349;
        padding: 5px 0px;
        border-radius: 45px;
    }
    .filter-list > li > a {
        line-height: 12px;
    }
    .cm-5 {
        border-radius: 0px;
    }
    .filter-list li:first-child {
        padding: 0;
    }
    .filter-list li:last-child {
        border-radius: 0;
    }
    .filter-list > li {
        padding: 13px 0;
    }
    .filter-list li:nth-child(2) {
        border-radius: 0;
    }
    .index-page {
        padding-top: 0;
    }
    .main-menu li:not(.language-bar) {
        display: none;
    }

    .main-menu {
        display: inline-block;
    }

    .main-header {
        height: 40px;
        line-height: 40px;
    }

    .hamburger {
        display: inline-block;
        height: 40px;
        line-height: 40px;
    }

    .hamburger img {
        height: 24px;
    }

    .footer-logo img {
        width: 115px;
    }

    .footer-logo img.r {
        width: 44px;
    }

    .main-menu.open {
        position: fixed;
        top: 0;
        left: 0;
        width: 70%;
        max-width: 350px;
        height: 100vh;
        z-index: 1006;
        overflow-y: scroll;
        background-color: #143559;
    }

    .main-menu > li > a {
        line-height: 40px;
    }

    .main-menu.open li {
        display: block;
        text-align: left;
        padding: 0;
        margin: 0;
    }

    .main-menu.open li.language-bar {
        display: none;
    }

    .main-menu.open > li > a {
        width: 100%;
        padding: 0 30px;
        color: #E24349;
        font-family: "Visby Round CF";
        font-size: 20px;
        font-weight: 400;
    }

    .main-menu.open > li.active > a {
        background-color: #E24349;
        color: #143559;
    }

    .main-menu.open > li.active > a:after {
        display: none;
    }

    .flag {
        width: 17px;
        height: 12px;
    }

    .dropdown-menu.show {
        padding: 0;
    }

    .dropdown-item {
        padding: 0 10px;
        line-height: 26px;
        font-size: 14px;
    }

    .slide-back h1 {
        font-size: 16px;
    }

    .slide-back .row {
        height: 160px;
    }

    .date-viewer {
        top: 0;
        height: 30px;
    }

    .date-viewer span {
        color: #fff;
        font-family: "Visby Round CF";
        font-size: 12px;
        font-weight: 700;
        line-height: 30px;
        padding: 0;
        border: 0;
        margin: 0;
    }

    .date-viewer i {
        display: none;
    }

    .game-list-head {
        display: none;
    }

    .site {
        margin: 0;
    }

    .filter-box {
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
        border: 0;
        padding: 5px;
    }

    .filter-box li:nth-child(1) {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        top: 30px;
    }

    .filter-box li:nth-child(1) > a {
        height: 30px;
        padding: 0 10px;
        line-height: 30px;
        font-size: 12px;
        border-radius: 0;
        width: 100%;
    }

    .filter-box li > a {
        background: transparent;
        padding: 0;
        text-align: center;
        font-size: 10px;
    }

    .filter-list li:not(.all) > a:after {
        left: calc(50% - 6px);
        top: -12px;
        width: 18px;
        height: 17px;
        margin-left: -3px;
        background-size: 11px !important;
        background-position: top 2.4px center !important
    }

    .info-box {
        padding: 15px;
    }

    .info-box p {
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    .read-more {
        width: 45px;
        height: 45px;
    }

    .game-single {
        border: 0;
        padding: 0;
    }

    .rating .rating-list > i {
        font-size: 14px;
    }

    .c-score {
        width: 100%;
        height: 52px;
        line-height: 36px;
        border-radius: 0 0 0 3px;
        padding-top: 2px;
    }

    .editor-choice {
        padding: 0;
        background-size: 20px;
        font-size: 10px;
        top: -10px;
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .main-menu-footer li {
        margin: 0;
        padding: 0;
        border: 0;
        line-height: 30px;
        text-align: left;
        width: 100%;
        float: left;
    }

    .c-info {
        font-size: 13px;
        line-height: 16px;
    }

    .c-info.line-3 {
        height: 48px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
    }

    .h2-title {
        font-size: 20px;
    }

    .info-text span {
        font-size: 14px;
        line-height: 20px;
    }

    .game-inner-desc {
        font-size: 15px;
        line-height: 20px;
        margin-top: 10px;
    }

    .rate-box {
        margin: 20px 0;
        padding: 0;
        box-shadow: none;
    }

    .game-review {
        margin: 0;
        width: 100%;
        padding: 10px 10px 25px;
    }

    .game-review p {
        font-size: 14px;
        line-height: 20px;
        height: 60px;
    }

    .read-more-link {
        font-size: 14px;
    }

    .c-card .card-header {
        padding: 10px;
    }

    .c-card .card-body {
        padding: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    .c-card .btn-link {
        font-size: 16px;
    }

    .mini-padding {
        padding-left: 15px;
        padding-right: 15px;
    }

    .filter-list > li > a span {
        font-size: 12px;
        margin-top: -23px;
        display: block;
        text-indent: -10px;
    }

    .h2-title-box {
        padding: 10px 20px;
        font-size: 20px;
    }

    .copyright {
        display: block;
        margin-top: 20px;
        font-size: 16px;
    }

    .footer-m {
        padding: 20px;
    }

    .extra-information {
        padding: 20px;
    }

    .n-box {
        margin-left: 0;
        background-image: none !important;
        font-size: 16px;
    }
    .container {
        max-width: 100%;
    }

    /*.main-menu li:not(.language-bar) {
        display: none;
    }*/
    .main-menu.open > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .main-menu {
        display: inline-block;
    }

    .main-header {
        height: 60px;
        line-height: 60px;
    }

    .hamburger {
        display: inline-block;
        height: 40px;
        line-height: 40px;
    }

    .hamburger img {
        height: 24px;
    }

    .flag {
        width: 17px;
        height: 12px;
    }

    .dropdown-menu.show {
        padding: 0;
    }

    .slide-back .row {
        height: 250px;
    }

    .slide-back h1 {
        font-size: 26px;
    }

    .filter-box {
        margin: 0 -15px 30px;
        border-radius: 0;
        border: 0;
        padding: 0;
    }
    .filter-box li:nth-child(1) {
        display: block;
        position: absolute;
        width: 100%;
        left: 0;
        border-radius: 0;
        top: 45px;
    }
    .filter-box li:nth-child(1) > a {
        height: 50px;
        padding: 5px 15px;
        line-height: 40px;
        font-size: 16px;
        border-radius: 0;
        width: 100%;
    }

    .filter-box li > a {
        background: transparent;
        padding: 0;
        text-align: center;
        font-size: 14px;
    }

    .rating .rating-list > i {
        font-size: 12px;
    }

}

@media (max-width: 768px) {
    .main-menu-footer > li > a {
        font-size: 12px;
    }
    .slider-since {
        top: 80px;
    }
    .slider-since img {
        width: 100px;
    }
}

@media (max-width:575px) {
    .main-menu-footer > li > a {
        font-size: 16px;
    }
    .main-menu-footer > li:not(:first-child) {
        margin: 0 auto;
    }

    .main-menu-footer li {
        width: 95%;
        text-align: center;
        margin: 0 auto;
    }

    .main-menu-footer {
        display: grid;
    }

    .game-single {
        border-radius: 2px;
    }

}

@media (max-width: 475px) {
    .filter-box li > a {
        font-size: 12px;
    }
    .filter-list li:not(:first-child).active a {
        font-size: 14px;
    }
    .slider-since {
        top: 30px;
    }
    .cm-1 {
        width: 50px !important;
    }
    .slider-height {
        height: 150px;
    }
    .text-position {
        position: relative;
        top: -50px;
    }
    .slide-back h1 {
        font-size: 22px;
    }
}