<div class="container-fluid footer-back">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md text-left align-self-center">
                <div class="footer-links">
                    <a href="./about.html">About us</a>
                    <a href="./policy.html">Privacy & Cookie policy</a>
                    <a href="./terms.html">Terms and conditions</a>
                    <a href="./contact.html">Contact us</a>
                </div>
                <p class="footer-text">Copyright © 2019 example.com. All Rights Reserved.</p>
            </div>
            <div class="col-12 col-md-auto align-self-center text-center text-md-left mt-4 mt-md-0">
                <div class="footer-play-icon">
                    <img src="./assets/img/apple.png">
                    <img src="./assets/img/android.png">
                    <img src="./assets/img/windows.png">
                </div>
            </div>
            <div class="col-12 col-md-12 align-self-center text-center mt-4">
                <div class="footer-play-icon no-filter">
                    <img src="./assets/img/ex1.png">
                    <img src="./assets/img/ex2.png">
                </div>
            </div>
        </div>
    </div>
</div>


<script src="./assets/js/vue.min.js"></script>
<script src="./assets/js/axios.min.js"></script>
<script src="./assets/js/jquery-2.1.1.min.js"></script>
<script src="./assets/js/functions.js"></script>