<section class="faq-and-terms">
	<div class="container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 faq-inner">
			<div class="center-div">
				<img src="img/chat.png" alt="FAQ">
				<div class="faq-text">
					<h1>Here Goes Header</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas dicta consequuntur non architecto, sequi reiciendis nobis, maxime, neque quo quae mollitia, nostrum voluptates? In itaque sit aliquam, repellat dignissimos impedit a doloremque. Iusto, magni vitae quasi sit libero fuga sint eveniet doloribus nulla ad ipsam, illo dolore neque recusandae deserunt similique sequi animi molestiae. Harum ipsum asperiores eveniet quidem dicta, esse soluta, dolores animi aut iure, rem, ipsam nemo. Repellat aliquam, sed assumenda et, deleniti, eaque quo facilis unde amet provident similique iusto necessitatibus sapiente pariatur atque. Officiis accusantium non id quod animi nemo quaerat, porro officia, ullam provident beatae magnam eaque. Placeat illum magni delectus maxime aliquam minus, tenetur doloribus. Modi debitis, sunt nesciunt magnam nulla eligendi quia!</p>
				</div>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 faq-inner">
			<div class="center-div">
				<img src="img/question.png" alt="FAQ">
				<div class="faq-text">
					<h1>Here Goes Header</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam voluptas dicta consequuntur non architecto, sequi reiciendis nobis, maxime, neque quo quae mollitia, nostrum voluptates? In itaque sit aliquam, repellat dignissimos impedit a doloremque. Iusto, magni vitae quasi sit libero fuga sint eveniet doloribus nulla ad ipsam, illo dolore neque recusandae deserunt similique sequi animi molestiae. Harum ipsum asperiores eveniet quidem dicta, esse soluta, dolores animi aut iure, rem, ipsam nemo. Repellat aliquam, sed assumenda et, deleniti, eaque quo facilis unde amet provident similique iusto necessitatibus sapiente pariatur atque. Officiis accusantium non id quod animi nemo quaerat, porro officia, ullam provident beatae magnam eaque. Placeat illum magni delectus maxime aliquam minus, tenetur doloribus. Modi debitis, sunt nesciunt magnam nulla eligendi quia!</p>
				</div>
			</div>
		</div>
	</div>
</section>