<section class="books-navigation">
		<nav class="navbar navbar-expand-md fixed-top">
			<div class="container">
				<a class="navbar-brand" href="#">Website Logo</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Cricket</a></li>
						<li class="nav-item"><a class="nav-link" href="#">AFL</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Soccer</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Horse Racing</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Golf</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Reviews</a></li>
						<div class="dropdown">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								<span>Select Language</span>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">English</a>
								<a class="dropdown-item" href="#">Deutsch</a>
							</div>
						</div>
					</ul>
				</div>
			</div>
		</nav>		
	</section>