<section class="books-navigation">
		<nav class="navbar navbar-expand-md fixed-top">
			<div class="container">
				<a class="navbar-brand" href="index.html"><img src="img/nav-logo.png" alt="Website Logo" width="100%"></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarCollapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="cricket.html">Cricket</a></li>
						<li class="nav-item"><a class="nav-link" href="afl.html">AFL</a></li>
						<li class="nav-item"><a class="nav-link" href="soccer.html">Soccer</a></li>
						<li class="nav-item"><a class="nav-link" href="horse-racing.html">Horse Racing</a></li>
						<li class="nav-item"><a class="nav-link" href="golf.html">Golf</a></li>
						<li class="nav-item"><a class="nav-link" href="review-all.html">Reviews</a></li>
						<!-- <li class="nav-item"><a class="nav-link" href="#"><img src="img/en.png" alt="English" width="100%"></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><img src="img/fr.png" alt="French" width="100%"></a></li> -->
						<div class="dropdown">
							<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
								<span>EN</span>
							</button>
							<div class="dropdown-menu">
								<a class="dropdown-item" href="#">English</a>
								<a class="dropdown-item" href="#">Deutsch</a>
							</div>
						</div>
					</ul>
				</div>
			</div>
		</nav>		
	</section>