<div class="table-header">
		<div class="container">
			<div class="table-header-items">
				<div class="interior-table-header-item-1-number"></div>
				<div class="interior-table-header-item-2-casino-logo"><span>Casino</span></div>
				<div class="interior-table-header-item-3-address"><span>Adress</span></div>
				<div class="interior-table-header-item-4-rating"><span>Rating</span></div>
				<div class="interior-table-header-item-5-score"><span>Our Score</span></div>
				<div class="interior-table-header-item-6-visit"><span>Visit Our Website</span></div>
			</div>
		</div>
	</div>