<div class="container-fluid footer-back">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center align-self-center">
                <p class="footer-text">Full House Casino Games. All rights reserved. Copyright © 2019 FHCG is a social casino where you can play all your favourite games with play money. There is no real money involved in any games on fullhousecasino.games - It's all about entertainment! FHCG is intended for an adult audience ( 18+ ) and does not offer 'real money' gambling or an opportunity to win real money or prizes. Practice at social gambling does not imply future success at 'real money' gambling. </p>
            </div>

            <div class="col-12 text-center align-self-center">
                <a class="footer-link" href="./index.html">Home</a>
                <a class="footer-link" href="./cookie.html">Cookie Policy</a>
                <a class="footer-link" href="./terms.html">Terms & Conditions</a>
                <a class="footer-link" href="./privacy.html">Privacy Policy</a>
            </div>

            <div class="col-12 text-center footer-bottom align-self-center">
                <div class="footer_logos">
                    <button type="button" class="btn header18" data-toggle="tooltip" data-placement="top"
                        title="Relax Slots ist ausschließlich nur für Erwachsene vorgesehen (18+). Die in Social Gambling
                                        gesammelten Erfahrungen versprechen auf gar keinen Fall irgendeinen Erfolg in realen Casinospielen.">
                        <img height="100%" width="100%" src="assets/img/18_plus.png">
                    </button>
                    <a href="javascript:void(0);" target="_blank"><img src="assets/img/footer_img1.png"></a>
                    <a href="javascript:void(0);" target="_blank"><img src="assets/img/footer_img2.png"></a>
                    <a href="javascript:void(0);" target="_blank"><img src="assets/img/footer_img3.png"></a>

                    <script type="text/javascript"> //<![CDATA[
                        var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
                        document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
                      //]]>                          
                    </script>
                    
                    <script language="JavaScript" type="text/javascript">
                        TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_lg_222x54.png", "POSDV", "none");
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="assets/js/main.js"></script>