html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.no-lr-padding {
	padding-left: 0;
	padding-right: 0;
}
.no-lr-margin {
	margin-left: 0;
	margin-right: 0;
}
@font-face{
    font-family: 'MarkPro';
    src: url('../fonts/MarkPro.otf');
}
@font-face{
    font-family: 'MarkPro-Thin';
    src: url('../fonts/MarkPro-Thin.otf');
}
@font-face{
    font-family: 'MarkPro-ExtraLight';
    src: url('../fonts/MarkPro-ExtraLight.otf');
}
@font-face{
    font-family: 'MarkPro-Bold';
    src: url('../fonts/MarkPro-Bold.otf');
}
body {
    position: relative;
    font-family: 'MarkPro';
}
/* Width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 15px;
  background-color: #E3E3E3;
} 
/* Handle */
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.website-logo {
    width: 160px;
    padding: 2.5px 0 2.5px;
}
.website-background {
	background: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	margin-top: 50px;
}
.website-background .container {
	position: relative;
}
.website-background-text {
	float: left;
	top: 25px;
}
.website-background-text h1 {
	color: white;
	font-size: 28px;
	line-height: 38px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-stroke: 0.45px;
	-webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
	text-shadow: #fff 0px 1px 1px;
	padding: 15px;
	background: rgba(0, 0, 0, 0.45);
}
.website-background-trusted-and-date {
	float: right;
	text-align: center;
}
.trusted {
	width: 150px;
	position: absolute;
	top: 300px;
	right: 0;
	/*border: 1px dotted yellow;*/
}
.date span {
	position: absolute;
    color: white;
    font-size: 16px;
    font-weight: bold;
    top: 250px;
    right: 18px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.45);
    /*border: 1px dotted green;*/
}

.subscribe-form {
    text-align: center;
    padding: 50px 0;
    position: relative;
}
.subscribe-form input {
    box-sizing: border-box;
    color: #717171;
    padding: 14px 18px;
    outline-color: #048553;
    border: none;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background: #f3f3f3;
}
.subscribe-form button {
    background-color: #88bbfb;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px 12px 25px;
    box-sizing: border-box;
    font-size: 18px;
}
.message-content {
    position: absolute;
    top: 10px;
}
.message-content, .message-content-err {
    position: absolute;
    font-size: 20px;
    top: 25%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.message-content {
    font-weight: bold;
    color: #0F9200;
    border-radius: 5px;
}
.message-content-err {
    font-weight: bold;
    color: #FF0000;
    border-radius: 5px;
}

/* ----------------- Min queries 768 px ----------------- */
/* -- Max queries 1199, 991, 768, 650, 550, 414, 320 px --*/

/* ------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- min 768 ------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */
@media (min-width: 768px) {
	.mobile-hidden {
		display: none !important;
	}
}

/* ------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- max 1199 ----------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
@media (max-width: 1199px) {
	.website-background {
	    height: 300px;
	}
	.website-background-text h1 {
	    font-size: 24px;
	    line-height: 32px;
	}
	.trusted {
	    top: 200px;
	}
	.date span {
	    top: 150px;
	    right: 17px;
	}
}

/* ------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 991 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
@media (max-width: 991px) {
	.website-background {
	    height: 250px;
	}
	.trusted {
	    top: 170px;
	    width: 120px;
	}
	.website-background-text h1 {
	    font-size: 18px;
	    line-height: 30px;
	}
	.date span {
	    top: 130px;
	    font-size: 14px;
	    right: 6.7px;
	}
}

/* ------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 768 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
@media (max-width: 768px) {
	.date span {
	    top: -110px;
	    width: 110px;
	    right: 0px;
	}
	.trusted {
	    top: -70px;
	    width: 110px;
	}
	.mobile-center-align {
		text-align: center;
		margin: 0 auto;
	}
	.website-background-text {
	    top: 10px;
	}
	.website-background-text h1 {
	    font-size: 16px;
	    line-height: 28px;
	    font-weight: 200;
	}
	.website-background-text h1 {
	    font-size: 16px;
	    line-height: 28px;
	    width: 80%;
	}
}

/* ------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 650 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
@media (max-width: 650px) {
	.website-background-text h1 {
	    font-size: 14px;
	    line-height: 24px;
	}
}

/* ------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 550 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
@media (max-width: 550px) {
	.website-background-text h1 {
	    line-height: 20px;
	}
	.date span {
	    top: -160px;
	    width: 75px;
	    right: 0px;
	    line-height: 20px;
	}
	.trusted {
	    top: -100px;
	    width: 75px;
	}
}

/* ------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 414 - 415 ---------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
@media (min-width: 414px) and (max-width: 415px) {
	.trusted {
	    top: 60px;
	    width: 65px;
	}
	.date span {
	    top: 95px;
	    width: 110px;
	    padding: 5px;
	    right: 70px;
	    line-height: 20px;
	}
	.website-background-text {
		padding: 0;
	}
	.website-background-text h1 {
	    width: 100%;
	    padding: 5px;
	    font-family: 'MarkPro-ExtraLight';
	    line-height: 18px;
	    font-size: 13px;
	}
}

/* ------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 414 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
@media (max-width: 413px) {
	.trusted {
	    top: 10px;
	    width: 65px;
	}
	.date span {
	    top: 35px;
	    width: 110px;
	    padding: 5px;
	    right: 90px;
	    line-height: 20px;
	}
	.website-background-text {
		padding: 0;
	}
	.website-background-text h1 {
	    width: 100%;
	    padding: 5px;
	    font-family: 'MarkPro-ExtraLight';
	    line-height: 18px;
	    font-size: 13px;
	}
}

/* ------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 320 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------ */
@media (max-width: 320px) {
}