html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	cursor: default;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.no-lr-padding {
	padding-left: 0;
	padding-right: 0;
}

.no-lr-margin {
	margin-left: 0;
	margin-right: 0;
}

@font-face {
	font-family: 'MarkPro';
	src: url('../fonts/MarkPro.otf');
}

@font-face {
	font-family: 'MarkPro-Thin';
	src: url('../fonts/MarkPro-Thin.otf');
}

@font-face {
	font-family: 'MarkPro-ExtraLight';
	src: url('../fonts/MarkPro-ExtraLight.otf');
}

@font-face {
	font-family: 'MarkPro-Bold';
	src: url('../fonts/MarkPro-Bold.otf');
}

body {
	position: relative;
	font-family: 'MarkPro';
}

/* Width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: #E3E3E3;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #818181;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #818181;
}

.navbar-right li a {
	font-weight: bold;
	font-size: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.navbar-right li.active {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 3px solid white;
	margin-bottom: -3px;
}

.collapsing, .collapse.in {
	background: white;
	text-align: center;
}

.collapse.in ul li a, .collapse.in.active {
	color: #093f92 !important;
}

.collapsing ul li a {
	color: #093f92 !important;
}

.navbar-fixed-top.scrolled {
	background-color: #fff !important;
	transition: background-color 200ms linear;
	color: #093f92;
	border-bottom: 1px solid #E3E3E3;
}

.navbar-fixed-top.scrolled ul li a {
	color: #093f92 !important;
}

.navbar-fixed-top.scrolled li.active {
	border-bottom: 3px solid #093f92;
}

.website-logo {
	width: 155px;
	padding: 2.5px 0 2.5px;
}

.website-background {
	background: url(../img/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
	margin-top: 0;
}

.website-background .container {
	position: relative;
}

.website-background-text {
	float: left;
	top: 75px;
}

.website-background-text h1 {
	color: white;
	font-size: 24px;
	line-height: 38px;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-stroke: 0.45px;
	-webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
	text-shadow: #fff 0px 1px 1px;
	padding: 15px;
	background: rgba(0, 0, 0, 0.45);
}

.website-background-trusted-and-date {
	float: right;
	text-align: center;
}

.trusted {
	width: 150px;
	position: absolute;
	top: 300px;
	right: 0;	/*border: 1px dotted yellow;*/
}

.date span {
	position: absolute;
	color: white;
	font-size: 16px;
	font-weight: bold;
	top: 250px;
	right: 18px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.45);    /*border: 1px dotted green;*/
}

.subscribe-form {
	text-align: center;
	padding: 50px 0;
	position: relative;
}

.subscribe-form input {
	box-sizing: border-box;
	color: #5f82b8;
	font-size: 20px;
	padding: 14px 65px;
	text-align: center;
	outline-color: #048553;
	border: 1px solid #093f92;
	-webkit-transition: 0.2s ease-in-out;
	-o-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	background: transparent;
	margin-bottom: 10px;
}

.subscribe-form form {
	display: inline-grid;
	margin-top: 45px;
}

.subscribe-form button {
	background-color: #20d389;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	padding: 17px 25px 16px 25px;
	box-sizing: border-box;
	font-size: 18px;
}

#subscribe-email::placeholder {
	color: #5f82b8;
}

.message-content {
	position: absolute;
	top: 10px;
}

.message-content, .message-content-err {
	position: absolute;
	font-size: 14px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.message-content {
	font-weight: bold;
	color: #20d389;
	border-radius: 5px;
}

.message-content-err {
	font-weight: bold;
	color: #e3474c;
	border-radius: 5px;
}

.filter-header, .cards {
	display: flex;
	width: 100%;
	text-align: center;
}

.filter-header li {
	flex-basis: auto;
	flex-grow: 1;
	text-align: center;
	box-sizing: border-box;
}

.table-header-items {
	width: 100%;
}

.table-header-item-1-number, .card-item-1-number {
	width: 5%;	/*border: 1px dotted green;*/
}

.table-header-item-2-casino, .card-item-2-casino {
	width: 20%;	/*border: 1px dotted green;*/
}

.table-header-item-3-address, .card-item-3-address {
	width: 25%;	/*border: 1px dotted green;*/
}

.table-header-item-4-rating, .card-item-4-rating {
	width: 15%;	/*border: 1px dotted green;*/
}

.table-header-item-5-score, .card-item-5-score {
	width: 15%;	/*border: 1px dotted green;*/
}

.table-header-item-6-visit, .card-item-6-visit {
	width: 20%;	/*border: 1px dotted green;*/
}

.ratings {
	position: relative;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	align-items: center;
	justify-content: center;
	text-align: center;
	background-color: white;
}

.ratings div {
	text-align: center;
	margin: 0 auto;
}

.rating {
	text-align: center;
	color: #DFA641;/*Golden color*/
	font-size: 30px;
}

.rate_message {
	position: absolute;
	color: #DFA641;/*Golden color*/
	text-align: center;
	width: 100%;
	top: 10px;
}

.rate_message p {
	margin: -10px auto 0;
}

.rated-info p {
	margin: 0 auto;
}

.card-item-1-number, .card-item-2-casino, .card-item-3-address, .card-item-4-rating, .card-item-5-score, .card-item-6-visit {
	position: relative;
}

.cards {
	height: 140px;
	border-bottom: 1px solid #C0C0C0;
}

.card-item-1-number span, .card-item-2-casino a, .card-item-3-address span, .card-item-4-rating .ratings, .card-item-5-score div, .card-item-6-visit button {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.filter-main {
	width: 75%;
	margin: 0 auto;
}

.filter-header li img {
	width: 94px;
}

/*.filter-header li:first-child {
	pointer-events: none;
}*/
.filter_active, .active_filter {
	background: #ffbb42;
}

.filter {
	background: #ffc45b;
}

.filter-header {
	position: relative;
}

.filter ul li {
	padding: 75px 20px;
	position: relative;
	margin: 0 15px;
}

.filter ul li a {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-weight: bold;
	color: #093f92;
	text-decoration: none;
	font-size: 22px;
}

.filter ul li:first-child a {
	font-family: 'MarkPro-Bold';
	font-size: 25px;
}

.table-header {
	background: #093f92;
	color: white;
}

.table-header-items {
	display: flex;
	position: relative;
}

.table-header-items div {
	position: relative;
	padding: 30px 0;
	font-size: 18px;
}

.table-header-items div span {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-weight: bold;
	width: 100%;
	text-align: center;
}

.card-item-1-number span {
	font-family: 'MarkPro-Bold';
	font-weight: bold;
	font-size: 24px;
}

.editors-choice span {
	position: absolute;
	top: 8px;
	left: 30px;
	background: #e3474c;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
	width: 105px;
	font-size: 13px;
	padding: 2px 5px;
}

.card-item-2-casino img {
	width: 190px;	/*border: 1px dotted red;*/
}

.card-item-3-address span {
	width: 275px;
	color: #093f92;
	font-weight: bold;	/*border: 1px dotted red;*/
}

.rated-info a {
	color: #DFA641;
	font-weight: bold;
	font-size: 17px;
}

.our-score span {
	font-size: 40px;
	font-weight: bold;
	color: #093f92;
}

.subscribe-now {
	font-size: 40px;
	font-weight: bold;
	color: #093f92;
	margin-bottom: 10px;
}

.get-notified {
	font-size: 20px;
	font-weight: bold;
	color: #7a95bd;
}

.subscribe-form-separator {
	width: 15px;
	border-bottom: 1px solid #093f92;
	padding: 20px 0;
	margin: 0 auto;
}

.rating {
	pointer-events: none;
}

.card-item-6-visit button {
	width: 190px;
	height: 50px;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 15px;
	background-color: #20d389;
	letter-spacing: 1px;
	border: none;
}

.card-item-6-visit button a {
	color: white;
	font-size: 22px;
	font-weight: bold;
}

.website-footer {
	color: white;
	text-align: justify;
	line-height: 21px;
	display: block;
}

.scrolling-footer {
	background-color: #093f92;
	min-height: 300px;
	padding: 50px 0;
}

.footer-text {
	max-height: 300px;
	overflow-y: auto;
	padding-right: 10px;
}

.footer-copyright {
	position: relative;
}

.footer-copyright span {
	position: absolute;
	left: 0%;
	top: 38%;
	color: #093f92;
	font-weight: bold;
	font-size: 20px;
}

.footer-menu-list ul {
	display: flex;
	font-weight: bold;
}

.footer-menu-list ul li {
	margin: 0 10px;
}

.footer-menu-list ul li a {
	color: #093f92;
	font-size: 16px;
}

.static-footer {
	padding: 30px 0;
}

.tab-body .filter-body [tab] {
	display: none
}

.interior .filter-body [tab].active {
	display: flex;
	background: unset;
}

.interior .game_info [tab].active {
	display: block
}

#more, #more1, #more2, #more3, #more4 {
	display: none;
}

.games-filter ul li:first-child {
	display: none;
}

.games-filter ul li:not(:first-child) {
	margin-top: 0;
}

.filter-games li {
	margin-top: 0px !important;
}

.scrolling-footer::-webkit-scrollbar {
	width: 4px;
	height: 2px;
}

.scrolling-footer::-webkit-scrollbar-track {
	background: transparent;
}

.scrolling-footer::-webkit-scrollbar-thumb, .scrolling-footer::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.2);
}

.game_info {
	background-color: #FFBB42;
	padding: 20px 0;
}

.game-text {
	color: #093F92;
	font-weight: bold;
}

.game-text button {
	background: none;
	border: none;
	color: #08377E;
	font-style: italic;
}

.language-selection {
	width: 50px;
	text-align: center;
	margin: 0 auto;
}

.website-logo {
	display: flex;
}

.language-selection {
	width: 30px;
}

.language-selection-mobile {
	width: 20px;
}

.language-selection-mobile-1 a img {
	margin: 15px 15px 15px 25px;
}

.language-selection-mobile-2 a img {
	margin: 15px 5px;
}

/*How we score*/
.how-we-score-sc--s-- {
    padding-top: 50px;
}
.how-we-score-sc--s-- .container--s-- {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.how-we-score-sc--s-- .list--s-- .col-25--s-- {
    height: 200px;
    width: 22%;
    border: 2px solid #093F92;
    text-align: center;
    -webkit-background-origin: border-box;
    background-origin: border-box;
    -webkit-background-clip: content-box, border-box;
    background-clip: content-box, border-box;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 20px;
}
.how-we-score-sc--s-- .list--s-- .col-25--s--:hover {
    border: 2px solid #093F92;
    box-sizing: border-box;
}
.how-we-score-sc--s-- .list--s-- .col-25--s--:not(:last-child) {
    margin-right: 37px;
}
.how-we-score-sc--s-- .list--s-- .col-25--s-->div {
    height: 100%;
    position: relative;
    z-index: 10;
    padding: 40px 0px;
    background: white;
}
.how-we-score-sc--s-- .list--s-- .col-25--s-->div .img-outer--s-- {
    width: 87px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.how-we-score-sc--s-- .list--s-- .col-25--s-->div .fa-chevron-down {
    opacity: 0;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}
.how-we-score-sc--s-- .list--s-- .col-25--s-->div .info--s-- {
    display: none;
    width: 100%;
    height: 100%;
    padding: 5px 15px 15px 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    left: 30px;
    cursor: auto;
    background: white;
    margin-left: -30px;
    font-weight: 500;
    overflow-y: auto;
}

.info--s--::-webkit-scrollbar {
  width: 6px;
  height: 1px;
}
.info--s--::-webkit-scrollbar-track {
  background: #4978BD; 
}
.info--s--::-webkit-scrollbar-thumb, .scrolling-footer ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.4); 
}
.how-we-score-sc--s-- .list--s-- .col-25--s-->div .info--s-- .close--s-- {
    text-align: right;
    padding-top: 7px;
    padding-right: 18px;
    margin-right: -25px;
}
.how-we-score-sc--s-- .list--s-- .col-25--s-->div .info--s-- .close--s-- i {
    cursor: pointer;
}
.how-we-score-sc--s-- .list--s-- .col-25--s-->div:hover .fa-chevron-down {
    opacity: 1;
}
.bc-how-we-score-container {
    background-color: white;
    padding: 40px 5px;
}
.bc-how-we-score-container .row:not(:first-child) {
    margin-top: 15px;
}
.hws-read-more {
    width: 20px;
    margin-top: 10px;
}
.col-25--s-- div p {
	color: #093F92 !important;
}
.footer-menu-list {
	padding: 0;
	/*border: 1px dotted red;*/
}
.footer-menu-list ul li:not(:first-child) {
	margin: 0 0 0 15px;
}
.current-page {
	position: relative;
	height: 60px;
	background: #FFC45B;
	display: flex;
	z-index: -1;
}
.current-page .container {
	display: flex;
}
.home-page, .current-link {
    color: #093F92;
    font-weight: bold;
    font-size: 29px;
    box-sizing: border-box;
    margin: 15px 30px 0px 0;
}
.current-link {
	border-bottom: 3px solid #093F92;
}
.home-page a, .current-link a {
	color: #093F92;
	text-decoration: none;
	padding: 10px;
}
.website-text-content {
	padding: 20px 10px;
}
.website-text-content h1 {
	color: #093F92;
	text-align: center;
	font-weight: bold;
	font-size: 32px;
	margin-bottom: 10px;
}
.website-text-content h2 {
	color: #093F92;
	font-weight: bold;
	font-size: 22px;
	margin-top: 25px;
	margin-bottom: 5px;
}
.website-text-content p {
	line-height: 19px;
	letter-spacing: 0.1px;
}
.website-review-single {
	padding: 30px 10px;
	position: relative;
}
.review-img img {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: 0;
}
.review-card .editors-choice span {
	left: 53px
}
.single-review-text h1 {
	font-family: 'MarkPro-Bold';
    text-align: center;
    margin: 20px auto 10px;
    font-weight: bold;
    color: #093F92;
    font-size: 26px;
}
.single-review-text p {
	line-height: 19px;
    letter-spacing: 0.3px;
}
.review-bottom-button {
	width: 100%;
	border: none;
	background-color: #20D389;
	color: white;
	font-weight: bold;
	padding: 10px 0;
	font-size: 22px;
	margin-top: 15px;
}
/* ----------------- Min queries 768 px ----------------- */

/* -- Max queries 1199, 991, 768, 650, 550, 415-414, 413, 320 px --*/

/* ------------------------------------------------------------------------------------------------ */

/* --------------------------------------------- ~ < 768 ------------------------------------------ */

/* ------------------------------------------------------------------------------------------------ */
@media (min-width:768px) {
	.desktop-hidden {
		display: none !important;
	}

}

/* ------------------------------------------------------------------------------------------------ */

/* --------------------------------------------- ~ < 650 ------------------------------------------ */

/* ------------------------------------------------------------------------------------------------ */
@media (min-width:650px) {
	.card-item-5-score p {
		display: none;
	}

}

/* ------------------------------------------------------------------------------------------------ */

/* --------------------------------------------- 1199 - 992 --------------------------------------- */

/* ------------------------------------------------------------------------------------------------ */
@media (max-width:1199px) {
	.review-img img {
	    height: 370px;
	}
	.footer-menu-list ul li:not(:first-child) {
	    margin: 0 0 0 15px;
	}
	.how-we-score-sc--s-- .list--s-- .col-25--s--:not(:last-child) {
	    margin: 0 35px 0 0;
	}
	.footer-menu-list ul li a {
		font-size: 14px;
	}

	.website-background-text h1 {
		font-size: 20px;
		line-height: 28px;
	}

	.trusted {
		width: 130px;
	}

	.card-item-6-visit button {
		width: 170px;
	}

	.card-item-3-address span {
		width: 215px;
	}

	.card-item-2-casino img {
		width: 175px;
	}

	.website-background {
		height: 300px;
	}

	.trusted {
		top: 200px;
	}

	.date span {
		top: 150px;
		right: 17px;
	}

}


/* ------------------------------------------------------------------------------------------------ */

/* --------------------------------------------- 991 - 769 ---------------------------------------- */

/* ------------------------------------------------------------------------------------------------ */
@media (max-width:991px) {
	.review-img img {
	    height: 280px;
	}
	.how-we-score-sc--s-- .list--s-- .col-25--s-- {
	    width: 45%;
	}
	.how-we-score-sc--s-- .list--s-- .col-25--s--:not(:last-child), .how-we-score-sc--s-- .list--s-- .col-25--s--:last-child {
		margin: 5px 0;
	}
	.how-we-score-sc--s-- .list--s-- .col-25--s--:nth-child(even) {
		margin-left: 65px;
	}

	.website-background-text {
		top: 60px;
		left: -15px;
	}

	.mobile-hidden {
		display: none !important;
	}

	.filter ul li {
		padding: 75px 0px;
		position: relative;
		margin: 0px;
	}

	.filter ul li:first-child a {
		font-size: 20px;
	}

	.filter-main {
		width: 70%;
	}

	.filter ul li a {
		font-size: 18px;
	}

	.filter-header li img {
		width: 75px;
	}

	.editors-choice span {
		left: 44px;
		width: 90px;
		font-size: 11px;
	}

	.cards {
		height: 110px;
	}

	.card-item-6-visit button {
		width: 125px;
	}

	.card-item-6-visit button a {
		font-size: 18px;
	}

	.table-header-item-5-score, .card-item-5-score {
		width: 10%;
	}

	.table-header-item-4-rating, .card-item-4-rating {
		width: 20%;
	}

	.card-item-3-address span {
		width: 160px;
	}

	.card-item-2-casino img {
		width: 135px;
	}

	.website-background {
		height: 250px;
	}

	.trusted {
		top: 170px;
		width: 115px;
	}

	.website-background-text h1 {
		font-size: 17px;
		line-height: 25px;
		font-weight: 100;
		padding: 10px;
	}

	.date span {
		top: 130px;
		font-size: 14px;
		right: 6.7px;
	}

}

/* ------------------------------------------------------------------------------------------------ */

/* --------------------------------------------- 768 - 651 ---------------------------------------- */

/* ------------------------------------------------------------------------------------------------ */
@media (max-width:768px) {
	.home-page, .current-link {
	    margin: 15px 30px 0px 0;
	}
	.current-page {
	    height: 60px;
	}
	.how-we-score-sc--s-- .list--s-- .col-25--s--:nth-child(even) {
	    margin-left: 55px;
	}
	.mobile-hidden-768 {
		display: none !important;
	}

	.scrolling-footer {
		padding: 20px 0;
	}

	.footer-menu-list ul li a {
		font-size: 12px;
	}

	.footer-menu-list ul li {
		margin: 0px 5px;
	}

	.footer-copyright span {
		font-size: 17px;
	}

	.footer-copyright {
		width: 95%;
	}

	.footer-menu-list {
		float: right;
	}

	.footer-text {
		width: 90%;
		margin: 0 auto;
	}

	.message-content, .message-content-err {
		top: 40%;
	}

	.subscribe-form form {
		margin-top: 25px;
	}

	.subscribe-form-separator {
		padding: 5px 0;
	}

	.subscribe-now {
		font-size: 32px;
		margin-bottom: 5px;
	}

	.subscribe-form {
		padding: 20px 0;
	}

	.cards {
		height: 100px;
	}

	.card-item-3-address span p {
		font-size: 15px;
	}

	.our-score span {
		font-size: 36px;
	}

	.card-item-6-visit button {
		height: 40px;
		width: 100px;
	}

	.card-item-6-visit button a {
		font-size: 16px;
	}

	.table-header-item-6-visit, .card-item-6-visit {
		width: 18%;
	}

	.table-header-item-4-rating, .card-item-4-rating {
		width: 22%;
	}

	.card-item-3-address span {
		width: 140px;
	}

	.card-item-2-casino img {
		width: 115px;
	}

	.table-header-items div {
		padding: 20px 0;
		font-size: 16px;
	}

	.filter-main {
		width: 100%;
	}

	.date span {
		top: -70px;
		width: 110px;
		right: 0px;
	}

	.trusted {
		top: -30px;
		width: 110px;
	}

	.mobile-center-align {
		text-align: center;
		margin: 0 auto;
	}

	.website-background-text {
		top: 60px;
	}

	.website-background-text h1 {
		font-size: 16px;
		line-height: 28px;
		font-weight: 200;
	}

	.website-background-text h1 {
		font-size: 16px;
		line-height: 24px;
		width: 80%;
	}

}

/* ------------------------------------------------------------------------------------------------ */

/* --------------------------------------------- 650 - 551 ---------------------------------------- */

/* ------------------------------------------------------------------------------------------------ */
@media (max-width:650px) {
	.review-img img {
	    height: 220px;
	}
	.how-we-score-sc--s-- .list--s-- .col-25--s--:nth-child(even) {
	    margin-left: 47px;
	}
	.hotels, .tab-body {
		background-color: #F9F9F9;
	}

	.card-item-6-visit button {
		height: 40px;
		width: 100%;
		top: 235px;
	}

	.table-header-item-6-visit, .card-item-6-visit {
		width: 100%;
	}

	.card-item-5-score p {
		color: #093f92;
		font-size: 13px;
		font-weight: bold;
	}

	.table-header-item-5-score, .card-item-5-score {
		width: 50%;
		height: 100px;
		top: 125px;
		right: 0;
		background: white;
	}

	.table-header-item-4-rating, .card-item-4-rating {
		width: 50%;
		border-right: 1px solid #C0C0C0;
		height: 100px;
		top: 125px;
		background: white;
	}

	.card-item-3-address span {
		width: 100%;
	}

	.table-header-item-3-address, .card-item-3-address {
		width: 100%;
		top: 80px;
		height: 45px;
		background: white;
		border-bottom: 1px solid #C0C0C0;
	}

	.card-item-2-casino img {
		width: 180px;
	}

	.table-header-item-2-casino, .card-item-2-casino {
		width: 100%;
		height: 80px;
	}

	.table-header-item-1-number, .card-item-1-number {
		width: 15%;
		height: 80px;
	}

	.card-item-1-number, .card-item-2-casino, .card-item-3-address, .card-item-4-rating, .card-item-5-score, .card-item-6-visit {
		position: absolute;
	}

	.cards {
		margin-top: 22px;
	}

	.cards {
		width: 100%;
		height: 260px;
		position: relative;
		border: none;
	}

	.table-header {
		display: none;
	}

	.website-background-text h1 {
		font-size: 14px;
		line-height: 23px;
		padding: 5px 10px;
	}

}

/* ------------------------------------------------------------------------------------------------ */

/* --------------------------------------------- 550 - 416 ---------------------------------------- */

/* ------------------------------------------------------------------------------------------------ */
@media (max-width:550px) {
	.home-page, .current-link {
	    font-size: 20px;
	    margin: 10px 30px 0px 0;
	}
	.current-page {
	    height: 45px;
	}
	.how-we-score-sc--s-- .list--s-- .col-25--s-- {
	    width: 47%;
	}
	.how-we-score-sc--s-- .list--s-- .col-25--s--:nth-child(even) {
	    margin-left: 20px;
	}
	.website-background-text {
		left: 0px;
	}

	.trusted {
		top: 62px;
		width: 65px;
	}

	.date span {
		top: 95px;
		width: 110px;
		padding: 5px;
		right: 90px;
		line-height: 20px;
	}

	.website-background-text h1 {
		width: 100%;
		padding: 5px;
		font-family: 'MarkPro-ExtraLight';
		line-height: 18px;
		font-size: 13px;
	}

	.filter ul li a {
		font-size: 16px;
	}

	.filter-header li img {
		width: 65px;
	}

	.filter ul li:first-child {
		position: absolute;
		width: 100%;
		height: 35px;
		border-bottom: 1px solid #EBB350;
	}

	.filter ul li:not(:first-child) {
		width: 20%;
		height: 110px;
		margin-top: 35px;
		padding: 10px 0;
	}

	.filter ul li {
		padding: 0px;
		height: 150px;
	}

	.card-item-3-address span p {
		font-size: 14px;
	}

	.card-item-3-address span {
		width: 99%;
	}

	.website-background-text h1 {
		line-height: 20px;
	}

}

/* ------------------------------------------------------------------------------------------------ */

/* --------------------------------------------- 415 - 414 ---------------------------------------- */

/* ------------------------------------------------------------------------------------------------ */
@media (min-width:414px) and (max-width:415px) {
	.review-img img {
	    height: 180px;
	}
	.trusted {
		top: 60px;
		width: 65px;
	}

	.date span {
		top: 95px;
		width: 110px;
		padding: 5px;
		right: 70px;
		line-height: 20px;
	}

	.website-background-text {
		padding: 0;
	}

	.website-background-text h1 {
		width: 100%;
		padding: 5px;
		font-family: 'MarkPro-ExtraLight';
		line-height: 18px;
		font-size: 13px;
	}

}

/* ------------------------------------------------------------------------------------------------ */

/* --------------------------------------------- 413 - 321 ---------------------------------------- */

/* ------------------------------------------------------------------------------------------------ */
@media (max-width:413px) {
	.review-img img {
	    height: 130px;
	}
	.home-page, .current-link {
	    font-size: 18px;
	}
	.bc-how-we-score-container {
	    padding: 20px 5px;
	}
	.how-we-score-sc--s-- {
	    padding-top: 0;
	}
	.how-we-score-sc--s-- .list--s-- .col-25--s-- {
	    width: 100%;
	}
	.how-we-score-sc--s-- .list--s-- .col-25--s--:nth-child(even) {
	    margin-left: 0px;
	}
	.language-selection-mobile-1 a img {
		margin: 15px 15px 15px 15px;
	}

	.website-logo {
		width: 40%;
		height: 40px;
		margin-top: 5px;
		padding: 2.5px 0 2.5px;
	}

	.website-background-text {
		top: 53px;
	}

	.footer-copyright span {
		font-size: 12px;
	}

	.static-footer {
		padding: 20px 0;
	}

	.subscribe-form input {
		font-size: 18px;
		padding: 10px 30px;
	}

	.message-content, .message-content-err {
		width: 260px;
	}

	.get-notified {
		font-size: 18px;
	}

	.subscribe-now {
		font-size: 28px;
	}

	.subscribe-form {
		padding: 10px 0;
	}

	.filter ul li a {
		font-size: 12px;
	}

	.filter-header li img {
		width: 50px;
	}

	.trusted {
		top: 62px;
		width: 65px;
	}

	.date span {
		top: 95px;
		width: 110px;
		padding: 5px;
		right: 90px;
		line-height: 20px;
	}

	.website-background-text {
		padding: 0;
	}

	.website-background-text h1 {
		width: 100%;
		padding: 5px;
		font-family: 'MarkPro-ExtraLight';
		line-height: 18px;
		font-size: 13px;
	}

}

/* ------------------------------------------------------------------------------------------------ */

/* --------------------------------------------- 320 ---------------------------------------------- */

/* ------------------------------------------------------------------------------------------------ */
@media (max-width:320px) {
	.date span {
		top: 80px;
	}

	.trusted {
		top: 55px;
		width: 55px;
	}

}
