<footer class="site-footer mb-5">
    <div class="container">
        <div class="row border-top pt-5">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 align-self-center text-center text-md-left">
                <img src="image/logo.png" alt="" class="footer-logo">
            </div>
            <div class=" col-xl-6 col-lg-2 col-md-6 col-sm-6 align-self-center text-center">
                <div class="single-footer">
                    <ul class="footer-list normal-list">
                        <li><a href="./cookie.html">Cookie</a></li>
                        <li><a href="./privacy.html">Privacy</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                        <li><a href="./about.html">About</a></li>
                        <li><a href="./terms.html">Terms of use</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12 col-sm-6 align-self-center mt-md-3 mt-lg-0">
                <div class="newsletter-form">
                    <form action="./">
                        <input type="email" class="form-control" placeholder="Enter Your Email Address Here...">
                        <button class="btn btn--primary w-100">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>