<section class="hero-area hero-slider-1">
    <div class="sb-slick-slider" data-slick-setting='{
                            "autoplay": true,
                            "autoplaySpeed": 8000,
                            "slidesToShow": 1,
                            "dots":true
                            }'>
        <div class="single-slide bg-shade-whisper ">
            <img src="image/slide1.png" class="slide-image">
            <div class="container">
                <div class="home-content text-center text-sm-left position-relative">
                    <div class="row no-gutters ">
                        <div class="col-xl-6 col-md-6 col-sm-7">
                            <div class="home-content-inner content-left-side">
                                <h1>WE TALK SPORTS AND SPORTS BOOK</h1>
                                <h2>REVIEWS YOU CARE ABOUT</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide bg-ghost-white">
            <img src="image/slide2.png" class="slide-image">
            <div class="container">
                <div class="home-content text-center text-sm-left position-relative">
                    <div class="row no-gutters ">
                        <div class="col-xl-6 col-md-6 col-sm-7">
                            <div class="home-content-inner content-left-side">
                                <h1>WE TALK SPORTS AND SPORTS BOOK</h1>
                                <h2>REVIEWS YOU CARE ABOUT</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>