@import "../fonts/fonts.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body {
    line-height: 1;
	font-family: 'Visby Round CF';
    background: #1B092F;
}

.index-inner {
    text-align: center;
}

.index-main-2 {
    padding: 40px 0 0px;
}

.app-img-2 img {
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 68px 40px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 68px 40px rgba(0,0,0,1);
    box-shadow: 0px 0px 68px 40px rgba(0,0,0,1);
    width: 320px;
    margin: 0 auto;
    -webkit-animation: bounce-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: bounce-top 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: .6s;
}

@-webkit-keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

@keyframes bounce-top {
    0% {
        -webkit-transform: translateY(-45px);
        transform: translateY(-45px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    40% {
        -webkit-transform: translateY(-24px);
        transform: translateY(-24px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    65% {
        -webkit-transform: translateY(-12px);
        transform: translateY(-12px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    82% {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    93% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }
}

.index-main-2-h1 h1 {
    font-family: "Visby Round CF Bold";
    color: #fff;
    margin: 0 auto;
    font-size: 36px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    position: relative;
    z-index: 10;
}

.index-main-2-h1 h2 {
    font-family: "Visby Round CF";
    color: #fff;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    line-height: 32px;
    letter-spacing: 0.6px;
    padding: 15px 0;
    position: relative;
    z-index: 10;
}

.index-main-2-h1 {
    padding: 30px 0 40px;
    text-align: center;
    position: relative;
}

.index-main-2-p {
    padding: 10px 0 30px;
}
.index-main-2-logo-button {
    display: flex;
    padding: 0;
}

.lb-2 {
    margin: 0 auto;
    padding: 20px 0;
}


.lb-2 form button span {
    font-size: 26px;
    font-weight: bold;
    font-family: "Visby Round CF Bold";
}


.index-main-2-h2 {
    padding: 40px 0 30px;
}

.index-main-2-h2 span {
    color: #2C2D36;
    font-size: 26px;
    line-height: 22px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

footer {
    margin: 0;
    padding: 30px 0;
    color: white;
}

.footer-inner ul {
    display: flex;
}

.footer-inner ul li {
    margin: 0 auto;
}

.footer-inner ul li a {
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    padding: 7px 20px;
    text-decoration: none;
    letter-spacing: 0.9px;
    background: rgba(0, 0, 0, 0.3);
}

.footer-text {
    padding: 0;
}

.footer-text span {
    letter-spacing: 0.4px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 100;
    font-family: "Visby Round CF";
}

.cookie, .privacy, .terms, .download {
    background: url(../img/bg.png);
}

.inner-section {
    text-align: center;
    padding: 0 0 70px;
}

.rf-img {
    width: 300px;
    margin: 0 auto;
    padding: 50px 0;
}
.text-container {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 5px 30px 30px;
    text-align: left;
}
.text-container h1 {
    font-family: "Visby Round CF Bold";
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    font-size: 40px;
    margin: 30px 0 -15px;
}
.text-container h2 {
    font-family: "Visby Round CF Bold";
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    font-size: 32px;
    margin: 30px 0 -15px;
}
.text-container p {
    font-family: "Visby Round CF";
    margin: 20px 0;
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 24px;
}
.text-container ul {
    font-family: "Visby Round CF";
    padding-left: 35px;
}
.text-container ul li {
    font-family: "Visby Round CF";
    list-style-type: circle;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 24px;
}
.download-h1 {
    width: 60%;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 40px;
    position: relative;
}
.slots-bg {
    position: absolute;
    top: -20px;
}
.slots-bg img {
    width: 88%;
    margin: 0 auto;
}
.download-links {
    display: flex;
    margin: 50px auto 0;
}
.dl-1 img {
    width: 300px;
}
.footer_logos {
    display: flex;
    position: relative;
    margin: 20px auto;
}
.header18 {
    background-color: transparent;
    width: 85px;
}
.footer_logos button, .footer_logos a {
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    align-self: center !important;
}
.logos {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.plus18 {
    background-color: transparent;
    width: 85px;
    height: 70;
    justify-self: center;
}
.plus18 img {
    width: 100%;
    height: 100%;
    justify-self: center;
}
.logos img {
    max-width: 200px;
    max-height: 80px;
}
.logos > * {
    margin-top: 20px;
    margin-left: 10px;
}
.download-img {
    padding: 20px 0;
}
.download-img h1 {
    font-size: 34px;
    font-weight: bold;
    padding: 30px 0 10px;
    color: #2C2D36;
    font-family: "Visby Round CF Bold";
}

.download-img img {
    width: 250px;
    margin: 0 auto;
    padding: 0;
    border: 2px solid white;
    border-radius: 7px;
}
.download-h1 h1 {
    font-family: "Visby Round CF Bold";
    font-weight: bold;
    font-size: 42px;
    color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}
.glowing-button {
    padding: 25px 80px;
    font-size: 22px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    outline: none;
    transition: all .5s ease-in-out;
    background: linear-gradient(247deg, #411D6B, #411D6B, #9A3142, #411D6B, #411D6B);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 14s ease infinite;
    -moz-animation: AnimationName 14s ease infinite;
    -o-animation: AnimationName 14s ease infinite;
    animation: AnimationName 14s ease infinite;
    -webkit-animation: bounce-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: bounce-top 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: .2s;
}
@-webkit-keyframes AnimationName {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@keyframes AnimationName { 
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
.footer-img {
    width: 100%;
    position: relative;
    top: -50px;
}
.poker-bg {
    position: absolute;
    top: 40px;
    z-index: 0;
}
.poker-bg img {
    width: 50%;
    margin: 0 auto;
}
.app-img-2 {
    padding: 0 0 40px;
}
.partners-logo {
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.5);
}
.pl-logos {
    display: flex;
}
.pl-logos div {
    flex-basis: 20%;
    align-self: center;
}
.steps {
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.5);
}
.steps-inner {
    display: flex;
}
.steps-img {
    position: relative;
    flex-basis: 40%;
    text-align: center;
    align-self: center;
}
.steps-img span {
    font-family: "Visby Round CF Bold";
    color: black;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 47.5%;
}
.steps-img h1 {
    font-family: "Visby Round CF Bold";
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}
.info-4 {
    padding: 40px 0;
    background: rgba(0, 0, 0, 0.5)
}
.info-block {
    text-align: center;
    padding: 20px;
}
.info-block h1 {
    font-family: "Visby Round CF Bold";
    color: #B61E4E;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    font-size: 34px;
    font-weight: bold;
}
.info-block h2 {
    font-family: "Visby Round CF";
    color: white;
    text-align: justify;
}
.index-main {
    animation: colors 20s infinite;
    background-image: url(../img/texture.png);
}
@keyframes colors {
  0% {
    background-color: #580000;
  }
  10% {
    background-color: #58003E;
  }
  20% {
    background-color: #2B0058;
  }
  30% {
    background-color: #001358;
  }
  40% {
    background-color: #004358;
  }
  50% {
    background-color: #005558;
  }
  60% {
    background-color: #004358;
  }
  70% {
    background-color: #001358;
  }
  80% {
    background-color: #2B0058;
  }
  90% {
    background-color: #58003E;
  }
  100% {
    background-color: #580000;
  }
}
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ---------------------- Media ---------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

@media (min-width: 768px) {

}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 1200 - 992 --------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 1200px) {
    .index-main-1-cards {
        width: 100%;
    }
    .footer_logos img {
        width: 100px;
    }
}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 991 - 769 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 991px) {
    .steps-img span {
        left: 46%;
    }
    .pl-logos {
        display: block;
        text-align: center;
    }
    .pl-img {
        padding: 10px 0;
    }
    footer {
        padding: 1px 0 10px;
    }
    .footer-inner ul li {
        margin: 25px auto;
    }
    .footer-inner ul {
        display: block;
    }
    .index-main-2-logo-button {
        display: block;
    }
    .index-main-1-cards img {
        width: 20%;
    }
    .footer_logos img, .footer_logos button {
        width: 150px;
    }

    .footer_logos button, .footer_logos a {
        margin: 5px auto;
    }

    .footer_logos {
        flex-direction: column;
        text-align: center;
    }
}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 768 - 651 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 768px) {
    .steps-inner {
        display: block;
    }
    .steps-img {
        padding: 20px 0;
    }
    .steps-img span {
        left: 48%;
        top: 27.5%;
    }
}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 650 - 551 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 650px) {
    
}

/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 550 - 414 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 550px) {
    .download-h1 h1 {
        font-size: 24px;
    }
    .inner-section {
        padding: 0;
    }
    .index-main-2-h1 {
        padding: 90px 0 0px;
    }
    .app-img-2 img {
        width: 240px;
    }
    .rf-img {
        width: 100%;
    }
    .rf-img img {
        width: 50%;
    }
    .lb-1 img {
        width: 50%;
    }    
}

/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 413 - 321 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 413px) {
    .logos {
        flex-direction: column;
        padding: 0;
    }
    .dl-1 img {
        width: 90%;
    }
    .download-h1 {
        font-size: 26px;
    }
}

/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------ 320 ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */