@import "../fonts/fonts.css";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
* {
    -webkit-animation: fadein 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.5s; /* Firefox < 16 */
        -ms-animation: fadein 1.5s; /* Internet Explorer */
         -o-animation: fadein 1.5s; /* Opera < 12.1 */
            animation: fadein 1.5s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
body {
	line-height: 1;
	font-family: 'Visby Round CF';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.index-inner {
    text-align: center;
}
.index-main {
    background: url(../img/bg.jpg) no-repeat;
    background-size: cover;
}
.index-main-2 {
    padding: 30px 0 20px;
}
footer {
    text-align: center;
}
.app-img-2 img {
    width: 320px;
    margin: 0 auto;
}
.index-main-2-h1 h1 {
    font-family: "Visby Round CF Bold";
    color: #fff;
    margin: 0 auto;
    font-size: 36px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}
.index-main-2-h1 h2 {
    font-family: "Visby Round CF";
    color: #fff;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 800;
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    line-height: 32px;
    letter-spacing: 0.6px;
    padding: 15px 0;
}
.index-main-2-h1 {
    padding: 10px 0;
    text-align: left;
}
.index-main-2-p {
    padding: 10px 0 30px;
}
.index-main-2-logo-button {
    display: flex;
    padding: 0;
}
.lb-2 form button {
    padding: 15px 70px;
    font-size: 22px;
    background: linear-gradient(to right, #5F1AC9, #480066);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    float: left;
    text-align: left;
}
.index-main-2-h2 {
    padding: 40px 0 30px;
}
.index-main-2-h2 span {
    color: #2C2D36;
    font-size: 26px;
    line-height: 22px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}
footer {
    padding: 52px 0;
    color: white;
}
.footer-inner ul {
    display: flex;
}
.footer-inner ul li {
    margin: 0 auto;
}
.footer-inner ul li a {
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    padding: 7px 20px;
    text-decoration: none;
    letter-spacing: 0.9px;
    background: rgba(0, 0, 0, 0.3);
}
.footer-text {
    padding: 0;
}
.footer-text span {
    letter-spacing: 0.3px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 100;
    font-family: "Visby Round CF";
}
.cookie, .privacy, .terms, .download {
    background: url(../img/bg.png);
}
.inner-section {
    text-align: center;
}
.rf-img {
    width: 300px;
    margin: 0 auto;
    padding: 50px 0;
}
.text-container {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 5px 30px 30px;
    text-align: left;
}
.text-container h1 {
    font-family: "Visby Round CF Bold";
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    font-size: 40px;
    margin: 30px 0 -15px;
}
.text-container h2 {
    font-family: "Visby Round CF Bold";
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
    font-size: 32px;
    margin: 30px 0 -15px;
}
.text-container p {
    font-family: "Visby Round CF";
    margin: 20px 0;
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 24px;
}
.text-container ul {
    font-family: "Visby Round CF";
    padding-left: 35px;
}
.text-container ul li {
    font-family: "Visby Round CF";
    list-style-type: circle;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0.3px;
    line-height: 24px;
}
.download-h1 {
    width: 60%;
    margin: 0 auto;
    color: white;
    font-weight: bold;
    font-size: 40px;
}
.download-links {
    display: flex;
    margin: 50px auto 0;
}
.dl-1 img {
    width: 300px;
    border: 2px solid white;
    border-radius: 7px;
}
.footer_logos {
    display: flex;
    position: relative;
    margin: 20px auto;
}
.header18 {
    background-color: transparent;
    width: 85px;
}
.footer_logos button, .footer_logos a {
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    align-self: center !important;
}
.logos {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.plus18 {
    background-color: transparent;
    width: 85px;
    height: 70;
    justify-self: center;
}
.plus18 img {
    width: 100%;
    height: 100%;
    justify-self: center;
}
.logos img {
    max-width: 200px;
    max-height: 80px;
}
.logos > * {
    margin-top: 20px;
    margin-left: 10px;
}
.lb-1, .lb-2 {
    padding: 0;
}
.download-img {
    padding: 20px 0;
}
.download-img h1 {
    font-size: 34px;
    font-weight: bold;
    padding: 30px 0 10px;
    color: #2C2D36;
    font-family: "Visby Round CF Bold";
}

.download-img img {
    width: 250px;
    margin: 0 auto;
    padding: 0;
    border: 2px solid white;
    border-radius: 7px;
}
.download-h1 h1 {
    font-family: "Visby Round CF Bold";
    font-weight: bold;
    font-size: 42px;
    color: #fff;
    background: rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 10px;
}
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* ---------------------- Media ---------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */
/* --------------------------------------------------- */

@media (min-width: 768px) {

}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 1200 - 992 --------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 1200px) {
    .index-main-1-cards {
        width: 100%;
    }
    .footer_logos img {
        width: 100px;
    }
}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 991 - 769 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 991px) {
    footer {
        padding: 1px 0 10px;
    }
    .footer-inner ul li {
        margin: 25px auto;
    }
    .footer-inner ul {
        display: block;
    }
    .index-main-2-logo-button {
        display: block;
    }
    .index-main-1-cards img {
        width: 20%;
    }
    .footer_logos img, .footer_logos button {
        width: 150px;
    }

    .footer_logos button, .footer_logos a {
        margin: 5px auto;
    }

    .footer_logos {
        flex-direction: column;
        text-align: center;
    }
}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 768 - 651 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 768px) {
    
}


/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 650 - 551 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 650px) {
    
}

/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 550 - 414 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 550px) {
    .rf-img {
        width: 100%;
    }
    .rf-img img {
        width: 50%;
    }
    .lb-1 img {
        width: 50%;
    }    
}

/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* --------------------------------------------- 413 - 321 ---------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 413px) {
    .logos {
        flex-direction: column;
        padding: 0;
    }
    .dl-1 img {
        width: 90%;
    }
    .download-h1 {
        font-size: 26px;
    }
}

/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------ 320 ------------------------------------------------- */
/* ------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------ */
@media (max-width: 320px) {
    
}