<div class="row game-single" data-filter="b" >
    <div class="col-auto order-0 order-sm-0 align-self-center text-center"><span class="n-box editor-choice">1</span></div>
    <div class="col-5 col-sm order-1 order-sm-1 align-self-center text-center"><a href="javascript:void(0);"><img src="assets/img/c1.png" class="mw-100"></a></div>
    <div class="col-12 col-sm mb-3 mb-sm-0 order-3 order-sm-2 align-self-center"><p class="c-info line-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore… </p></div>
    <div class="col order-2 order-sm-3 align-self-center text-right text-sm-center">
        <div class="rating">
            <div class="rating-list" data-star="4"></div>
            <div class="rating-footer">
                <span><a href="./review-inner.html">Review</a></span>
            </div>
        </div>
    </div>
    <div class="col-12 p-0 p-sm-3 col-sm order-6 order-sm-6 align-self-center text-center">
        <a href="javascript:void(0);" target="_blank" class="play-now">VISIT SITE</a>
    </div>
</div>