<div class="row game-single" data-filter="b,ba">
    <div class="col-auto order-0 order-sm-0 align-self-center text-center cm-1">
        <img src="./assets/img/editors.png" alt="">
        <span class="n-box">1</span>
    </div>

    <div class="col-5 col-sm order-1 order-sm-1 align-self-center text-center cm-2">
        <a href="javascript:void(0);" target="_blank">
            <img src="assets/img/c1.png">
        </a>
    </div>

    <div class="col-12 col-sm mb-3 mb-sm-0 order-3 order-sm-2 align-self-center cm-3">
        <p class="c-info">1, avenue du</p>
        <p class="c-info">Casino Montreal H3C 4W7</p>
    </div>

    <div class="col order-2 order-sm-3 align-self-center text-right text-sm-center cm-4">
        <div class="rating">
            <div class="rating-list" data-star="4"></div>
            <div class="rating-footer">
                <span><a href="./review-inner.html">Review</a></span>
            </div>
        </div>
    </div>

    <div class="col-4 p-0 p-sm-3 col-sm order-5 order-sm-5 align-self-center text-center our-score-5 cm-5">
        <div class="score-inner">
            <div class="c-score">9.8</div>
            <p class="c-info-2">Our Score</p>
        </div>
    </div>
    
    <div class="col-8 p-0 p-sm-3 col-sm order-6 order-sm-6 align-self-center text-center pt-3 pt-md-0 visit-6 cm-6">
        <a href="javascript:void(0);" target="_blank" class="play-now">VISIT SITE</a>
    </div>
</div>