<div class="row game-list-head">
    <div class="col-auto text-center align-self-center"><img src="assets/img/n.png"> </div>
    <div class="mini-padding col text-center align-self-center">Casino</div>
    <div class="mini-padding col-1 text-center align-self-center">Bonus</div>
    <div class="mini-padding col-1 text-center align-self-center">Active<br>players</div>
    <div class="mini-padding col-1 text-center align-self-center">Min.<br>Deposit</div>
    <div class="mini-padding col-2 text-center align-self-center">Ratings</div>
    <div class="mini-padding col-auto text-center align-self-center">Our Score</div>
    <div class="mini-padding col-3 text-center align-self-center">Visit Site</div>
</div>