<header class="main-header container-fluid">
    <div class="container px-sm-3">
        <div class="row">
            <div class="header-logo">
                <a href="index.html">
                    <img src="./assets/img/logo.png" class="m mw-100">
                </a>
            </div>
            <div class="header-menu-left">
                <div class="hamburger d-lg-none">
                    <img src="assets/img/hamburger.png" onclick="showMenu('open')">
                </div>

                <ul class="main-menu">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="review.html">Reviews</a></li>
                    <li><a href="games-inner.html">Blackjack</a></li>
                    <li><a href="games-inner.html">Roulette</a></li>
                    <li><a href="games-inner.html">Poker</a></li>
                    <li><a href="games-inner.html">Baccarat</a></li>
                    <li><a href="games-inner.html">Slot</a></li>
                    <li class="nav-item dropdown language-bar">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            En <!--<img src="assets/img/flag/gb.png" class="flag">-->
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#"><!--<img src="assets/img/flag/de.png" class="flag"> -->DE</a>
                            <a class="dropdown-item" href="#"><!--<img src="assets/img/flag/fr.png" class="flag"> -->FR</a>
                            <a class="dropdown-item" href="#"><!--<img src="assets/img/flag/es.png" class="flag"> -->ES</a>
                        </div>
                    </li>
                </ul>
                
            </div>
        </div>
    </div>
</header>

<div class="blanked"></div>