<div class="row game-single" data-filter="b">
    <div class="col-auto order-0 order-sm-0 align-self-center text-center"><span class="n-box editor-choice">1</span></div>
    <div class="col-5 col-sm order-1 order-sm-1 align-self-center text-center"><a href="javascript:void(0);"><img src="assets/img/c2.png" class="mw-100"></a></div>
    <div class="col-12 col-sm mb-3 mb-sm-0 order-3 order-sm-2 align-self-center"><p class="c-info">1, avenue du</p>
        <p class="c-info">Casino Montreal H3C 4W7</p></div>
    <div class="col order-2 order-sm-3 align-self-center text-right text-sm-center">
        <div class="rating">
            <div class="rating-list" data-star="4"></div>
        </div>
    </div>
    <div class="col-4 p-0 p-sm-3 col-sm order-5 order-sm-5 align-self-center text-center">
        <p class="c-info">Our Score</p>
        <div class="c-score">9,8</div>
    </div>
    <div class="col-8 p-0 p-sm-3 col-sm order-6 order-sm-6 align-self-center text-center pt-3 pt-md-0">
        <a href="javascript:void(0);" target="_blank" class="play-now">VISIT SITE</a>
    </div>
</div>