<div class="row game-single" data-filter="b">
    <div class="col-auto order-0 order-sm-0 align-self-center text-center"><span class="n-box editor-choice">1</span></div>
    <div class="col-5 col-sm order-1 order-sm-1 align-self-center text-center"><a href="javascript:void(0);"><img src="assets/img/c2.png" class="mw-100"></a></div>
    <div class="mini-padding order-3 order-sm-2 mb-2 mb-sm-0 col-12 col-sm-1 text-center align-self-center"><p class="c-info">Your bonus</p></div>
    <div class="mini-padding order-4 order-sm-3 mb-2 mb-sm-0 col-6 col-sm-1 text-center align-self-center"><p class="c-info"><span class="d-inline d-sm-none">Active Players - </span>1234</p></div>
    <div class="mini-padding order-5 order-sm-3 mb-2 mb-sm-0 col-6 col-sm-1 text-center align-self-center"><p class="c-info"><span class="d-inline d-sm-none">Min. Deposit - </span>7643</p></div>
    <div class="col order-2 order-sm-3 align-self-center text-right text-sm-center">
        <div class="rating">
            <div class="rating-list" data-star="4"></div>
            <div class="rating-footer">
                <span><a href="review-inner.html">Review</a></span>
            </div>
        </div>
    </div>
    <div class="col-4 p-0 p-sm-3 col-sm order-5 order-sm-5 align-self-center text-center">
        <p class="c-info">Our Score</p>
        <div class="c-score">9,8</div>
    </div>
    <div class="col-8 p-0 p-sm-3 col-sm order-6 order-sm-6 align-self-center text-center pt-3 pt-md-0">
        <a href="javascript:void(0);" target="_blank" class="play-now">VISIT SITE</a>
    </div>
</div>