.slide-image {
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.single-slide {
    position: relative;
}

.footer-list li {
    display: inline-block;
    margin: 0 5px;
}

.footer-title {
    margin-bottom: 0;
}

.rating-list {
    margin: 5px 0;
}

.rating-list > i {
    font-size: 22px;
    color: #62ab00;
}

.scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.d0 {
    animation-delay: 0.1s;
}

.d1 {
    animation-delay: 0.3s;
}

.d2 {
    animation-delay: 0.5s;
}

.d3 {
    animation-delay: 0.7s;
}

.d4 {
    animation-delay: 0.9s;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

.site-brand img {
    max-height: 60px;
}

.hero-area .home-content h1, .hero-area .home-content h2 {
    color: #fff;
}

.mobile-header .site-brand {
    padding: 0;
}

.mobile-header .site-brand img {
    max-height: 40px;
}

.mobile-navigation {
    padding:0;
}

.off-canvas-wrapper .off-canvas-inner {
    padding-top:15px;
}


.filter-box {
    padding: 20px;
    border:1px solid rgba(98, 171, 0,.6);
    border-radius: 7px;
    background-color: #fefefe;
}

.filter-list {
    list-style: none;
    display: flex;
}

.filter-list > li {
    flex-basis: 20%;
    margin: 0 5px;
    align-self: center !important;
}

.filter-list > li:nth-child(1) {
    margin-left: 0;
    flex-basis: 0;
}

.filter-list > li:nth-last-child(1) {
    margin-right: 0;
}

.filter-list > li.all > a {
    border:1px solid rgba(98, 171, 0,.6);
    border-radius: 7px;
    background-color: #fefefe;
    color: #62ab00;
    font-size: 18px;
    font-weight: 700;
    padding-right: 10px;
    width: 80px;
    text-align: center;
}

.filter-list > li.all.active > a {
    background-color: #62ab00;
    color: #fefefe;
}

.filter-list > li > a {
    position: relative;
    border-radius: 10px;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding: 10px 45px 10px 10px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
}

.filter-list > li:not(.all) > a:after {
    content: '';
    position: absolute;
    margin-left: 10px;
    top: 12px;
    width: 21px;
    height: 21px;
    border:1px solid rgba(98, 171, 0,.6);
    border-radius: 50%;
    background-color: #fff;
    transition: all .5s;
    background-position: center center;
    background-size: 0;
}

.filter-list > li.active:not(.all) > a:after {
    border: 1px solid rgba(98, 171, 0, 0.29);
    background: rgba(98, 171, 0, 0.1) url("../image/check.png") no-repeat center center;
    background-size: 11px 12px;
}

.info-text {
    margin-top:30px;
    font-size:15px;
    line-height: 22px;
}

.hero-area .home-content {
    height: 400px;
    min-height: unset;
}

.line-3 {
    font-size:14px;
    line-height: 20px;
    height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.not-found-any-data {
    display: none;
}
.promo-section-heading {
    margin:0 auto;
}

.footer-logo {
    max-height: 60px;
}