<div class="filter-box games-hidden">
    <ul class="filter-list">
        <li data-type="" onclick="filter(this,'all')" class="all active"><a href="javascript:void(0);">View All</a></li>
        <li data-type="bl" onclick="filter(this,'bl')"><a href="javascript:void(0);">Blackjack</a></li>
        <li data-type="r" onclick="filter(this,'r')"><a href="javascript:void(0);">Roulette</a></li>
        <li data-type="p" onclick="filter(this,'p')"><a href="javascript:void(0);">Poker</a></li>
        <li data-type="ba" onclick="filter(this,'ba')"><a href="javascript:void(0);">Baccarat</a></li>
        <li data-type="s" onclick="filter(this,'s')"><a href="javascript:void(0);">Slot</a></li>
    </ul>
</div>