<footer class="container">
    <div class="row">

        <div class="row mt-5 mb-4">
            <div class="col-12">
                <div class="info-box">
                    <p>Every lover of gambling dreams of once to break a huge jackpot that will forever change his life for the better. Even the most pragmatic and skeptical users deep down hope to win a huge jackpot or get into a fantastic white line that will bring huge benefits.</p>

                    <p>Huge winnings are by no means frequent in gambling, otherwise all operators would have been ruined long ago. However, every fan of gambling entertainment has a chance to become a millionaire overnight if, of course, he prefers games that allow him to claim huge payments. We read articles and news about the most incredible winnings in the history of the gambling business, and we dream to be on this list of lucky ones.</p>

                    <div class="more-text">
                        <p>Huge winnings are by no means frequent in gambling, otherwise all operators would have been ruined long ago. However, every fan of gambling entertainment has a chance to become a millionaire overnight if, of course, he prefers games that allow him to claim huge payments. We read articles and news about the most incredible winnings in the history of the gambling business, and we dream to be on this list of lucky ones.</p>
                    </div>
                    <div class="read-more" onclick="showMore(this)"></div>
                </div>
            </div>
        </div>

        
        <div class="col-12 align-self-center">
            <div class="footer-m">
                <ul class="main-menu-footer text-right">
                    <li class="active"><a href="cookie.html">COOKIE</a></li>
                    <li><a href="privacy.html">PRIVACY</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li><a href="about.html">ABOUT US</a></li>
                    <li><a href="terms.html">TERMS OF USE</a></li>
                </ul>

                <div class="divider"></div>
                <p class="copyright">Copyright © All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>