<footer>
    <div class="container">
        <div class="row">        
            <div class="col-12 align-self-center">
                <div class="footer-m">
                    <ul class="main-menu-footer text-left">
                        <li class="active"><a href="cookie.html">COOKIE</a></li>
                        <li><a href="privacy.html">PRIVACY</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                        <li><a href="about.html">ABOUT US</a></li>
                        <li><a href="terms.html">TERMS OF USE</a></li>
                    </ul>

                    <div class="divider"></div>
                    <p class="copyright">Copyright © All Rights Reserved</p>
                </div>
            </div>
        </div>        
    </div>
</footer>