<div class="container-fluid slide-back" style="background-image: url('./assets/img/background.png')">
    <div class="container">
        <div class="row">
            <div class="col-8 col-sm-9 align-self-center">
                <h1>Let's discover Best Casino Hotels together!</h1>
            </div>
            <div class="col-4 col-sm-3">
                <div class="slider-since" style="background-image: url('./assets/img/trusted.png')"></div>
            </div>
        </div>
        <p class="date-viewer">
            <span>16 Aprel 2019</span>
        </p>
    </div>
</div>