<div class="container-fluid slide-back slider-height" style="background-image: url('./assets/img/background.png')">
    <div class="container">
        <div class="row">
            <div class="col-8 col-sm-9 align-self-center text-position">
                <h1>Let's discover Best Casino Hotels together!</h1>
            </div>
            <div class="col-4 col-sm-3 certificate-position">
                <div class="slider-since">
                    <img src="./assets/img/trusted.png" alt="">
                </div>
            </div>

        </div>
        <p class="date-viewer">
            <span>16 Aprel 2019</span>
        </p>
    </div>
</div>